<div id="charte-titre" class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading1">
    <h3 class="panel-title clearfix">
      <a data-toggle="collapse" href="#Collapse1" class="pull-right glyphicon glyphicon-chevron-down"></a>
      <a data-toggle="collapse" href="#Collapse1" aria-expanded="true" aria-controls="Collapse1">
        <b>Charte des titres</b>
      </a>
    </h3>
  </div>
  <div id="Collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <p>
        L'art de la controverse exige l'exposition d'oppositions franches voir d'antagonismes. L'objectif de
        ControverSciences étant de replacer le plus <strong>rigoureusement</strong> possible le
        <strong>cœur du débat</strong> dans son <strong>contexte scientifique</strong>, la première mesure d'hygiène
        consiste à préserver l'énoncé des controverses de toute formulation pouvant générer des oppositions
        scientifiquement non recevables. Hélas, la cohabitation des sciences physiques, biologiques, sociales ou
        mathématiques avec des sujets d’actualité peut imposer un socle si large qu'il rend difficile la génération de
        <strong>problématiques rigoureuses</strong>.
        <br>
        Cette section a la prétention de fournir les <strong>obligations minimales</strong> que doivent remplir les
        titres de controverses.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <div class="pull-right">
                    <span style="margin-top: 10px" class="glyphicon glyphicon-ok green">
                    </span>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h3 class="panel-title clearfix">
          <a data-toggle="collapse" href="#Collapse2" class="pull-right glyphicon glyphicon-chevron-down"></a>
          <a data-toggle="collapse" href="#Collapse2" aria-expanded="true" aria-controls="Collapse2">
            <b>L'énoncé ne doit pas mener à une question d'ordre métaphysique ou universel</b>
          </a>
        </h3>
      </div>
      <div id="Collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            A la différence de la philosophie, la science ne produit que des <strong>propositions bornées</strong>.
            La science impose le recours systématique à des <strong>cadres de références</strong>,
            portions de réalité délimitées qui confèrent leur sens au questions traitées, et hors desquels celles-ci
            deviennent incontrôlables.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <div class="pull-right">
                    <span style="margin-top: 15px" class="glyphicon glyphicon-ok green">
                    </span>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h3 class="panel-title clearfix">
          <a data-toggle="collapse" href="#Collapse3" class="pull-right glyphicon glyphicon-chevron-down"></a>
          <a data-toggle="collapse" href="#Collapse3" aria-expanded="true" aria-controls="Collapse3">
            <b>L’énoncé doit être précis ET compréhensible
            </b>
          </a>
        </h3>
      </div>
      <div id="Collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            Un énoncé large, bien que porteur de plus d'enjeux, peut <strong>générer des réfutations</strong> qui
            passeront à côté de l'objet central de la controverse. Pour être <strong>précis</strong>, l'énoncé doit
            <strong>expliciter</strong> au maximum le cadre de référence du questionnement (zone, date, peuple, échelle…
            etc). L’objectif restant d’être <strong>compréhensible </strong>par tous,
            il est nécessaire de faire un compromis et de délaisser toute <strong>technicité superflue</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <div class="pull-right">
                    <span style="margin-top: 25px" class="glyphicon glyphicon-ok green">
                    </span>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h3 class="panel-title clearfix">
          <a data-toggle="collapse" href="#Collapse5" class="pull-right glyphicon glyphicon-chevron-down"></a>
          <a data-toggle="collapse" href="#Collapse5" aria-expanded="true" aria-controls="Collapse5">
            <b>L'énoncé doit être acceptable aux yeux de toutes les disciplines impliquées
            </b>
          </a>
        </h3>
      </div>
      <div id="Collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>
            Il est nécessaire d'accepter qu'un énoncé à caractère<strong> pluri/trans/inter/disciplinaire</strong> se
            plie aux <strong>exigences </strong>de chacune des<strong> disciplines</strong> en présence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>