<div id="charte-cadres" class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading1">
    <h3 class="panel-title clearfix">
      <a data-toggle="collapse" href="#Collapse11" class="pull-right glyphicon glyphicon-chevron-down"></a>
      <a data-toggle="collapse" href="#Collapse11" aria-expanded="true" aria-controls="Collapse11">
        <b>Charte des cadres</b>
      </a>
    </h3>
  </div>
  <div id="Collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <p>Le cadre (ou contexte) doit délimiter : l’ensemble des<em> théories - définitions - hypothèses - outils - méthodes </em>ainsi que l’espace
        (<em>temporel - géographique - mathématique</em>) au sein desquels une proposition ou un questionnement prétendent avoir une <strong>valeur </strong>ou
        un<strong> sens</strong>. Théoriquement, changer l’un des paramètres du cadre revient à définir un nouvel espace dans lequel les propositions nécessitent
        d’être redémontrées. <br>
        Il serait <strong>irréaliste</strong> de souhaiter que le champ “Cadre, focus et mise au point de la controverse”
      fasse une <strong>description complète</strong> du cadre de référence de la controverse. Néanmoins, il faut essayer de s’en approcher pour trois raisons
      :
    </p>
      <ul>
        <li>Un scientifique qui aborde des <strong>résultats</strong> <strong>hors de leur cadre de validité</strong> ne fait pas de la vulgarisation
          mais de la <strong>politique </strong>ou de la <strong>philosophie</strong>.</li>
        <br>
      <li>Le public doit avoir accès à des <strong>précisions</strong> concernant un cadre qui peut lui être étranger.</li>
        <br>
        <li>Il est des cadres au sein desquels une question n’est pas <strong>solvable</strong>. Travailler la définition du<strong> cadre</strong>
          est parfois la seule solution envisageable pour mettre en évidence une <strong>impasse</strong> ou en sortir.</li> </ul>
      <p>
      Notez bien que cette section n’est pas destinée à compenser une éventuelle faiblesse dans la formulation du titre de la controverse.
      Un <strong>titre</strong> manquant de précision <strong>reste sujet à modération</strong>. En revanche l<strong>’équilibre</strong> entre <strong>précision</strong> et <strong>simplicité</strong> peut être à l’origine du maintien dans les titres de <strong>concepts </strong>nécessitant une<strong> explication</strong>.
      Cette section est, entre autres, destinée à <strong>accueillir </strong>de telles<strong> définitions</strong>.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <div class="pull-right">
        <span style="margin-top: 10px" class="glyphicon glyphicon-ok green">
        </span>
    </div>
  </div>
  <div class="col-xs-10">
    Un <strong>cadre de référence</strong> désigne la<strong> portion délimitée de réalité </strong>au sein de laquelle <br />on s'interroge et où on prétend pouvoir produire un résultat.
  </div>
</div>