<% provide(:title, "A propos") %>
ControverSciences est à but non lucratif.

<p>
        <li>
          Powered by :
          <%= link_to image_tag("ruby.png", alt: "Rails"), 'http://rubyonrails.org/' %>
          <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
        </li>
</p>
