<% provide(:title, "Markdown") %>
<div id="my-container" class="container-fluid">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-offset-1">
          <div id="magna-charta" class="panel-body">
            <div id="not-timeline">
              <h2>AREN – Corpus de textes </h2>
              <h4 style="font-size: 2em">Textes sélectionnés et présentés par Controversciences</h4>

              Pour chacun des thèmes suivants, les corpus comprennent :
              <ul>
                <li>des textes qui se prêtent au débat sur la plateforme numérique AREN</li>
                <li>des textes qui peuvent être étudiés en classe, en amont du débat, pour préparer les élèves au niveau
                  des contenus (définitions, notions, données empiriques, faits, points de vue, acteurs…)
                </li>
              </ul>

              <b>Liste des thèmes :</b> <br>
              <i>
                À titre indicatif figure entre parenthèses la discipline dans laquelle les textes ont déjà été utilisés
                en classe au lycée (en seconde, première ou terminale)
              </i>

              <ul>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2018_S1_arctique.pdf">
                  Arctique : ses enjeux géostratégiques (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S1_biodiversite.pdf">
                  Biodiversité (SVT)</a></li>
                <li>
                  <a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S2_dessein_intelligent.pdf">
                    Dessein intelligent (EMC, philosophie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2018_S1_mars.pdf">
                  Mars : sa conquête (physique-chimie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2018_S1_ethique_animale.pdf">
                  Ethique animale (EMC, philosophie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S1_eugenisme.pdf">
                  Eugénisme (EMC, philosophie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_S1_hydrocarbures.pdf">
                  Hydrocarbures : extraction en eaux profondes (SVT)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S1_gaz_de_schiste.pdf">
                  Gaz de schiste (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_S2_glyphosate.pdf">
                  Glyphosate (SVT)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_Mondialisation.pdf">
                  Mondialisation (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_Diesel_Essence.pdf">
                  Moteurs diesel et à essence (physique-chimie)</a></li>
                <li>
                  <a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S2_nourrir_les_humains.pdf">
                    Nourrir les humains (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_S1_OGM.pdf">
                  OGM : dans les cultures et dans l’alimentation (physique-chimie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2019_OPEX.pdf">
                  Opérations militaires extérieures de la France (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S2_sante_corps_sport.pdf">
                  Santé, corps et sport (géographie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2018_S1_energies_fossiles.pdf">
                  Energie : sources d’énergie fossiles et renouvelables (SVT)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S2_textiles_innovants.pdf">
                  Textiles innovants (physique-chimie)</a></li>
                <li><a href="https://github.com/ThibaultLatrille/AREN-corpus/raw/master/2017_S1_Voiture_electrique.pdf">
                  Voiture électrique (physique-chimie)</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>