<% provide(:title, "La bande dessinée") %>

<div class="heading">
  <%= image_tag "stars.png", class: "img-responsive" %>
</div>
<div class="rocket">
  <%= image_tag "rocket.svg", class: "img-responsive" %>
</div>
<div id="my-container" class="container-fluid">
  <div id="body-controversciences" class="leading activated">
    <div id="controverse" class="activated sub-leading">
      <div class="col-xs-12 col-md-offset-1 col-md-10 center">
        <br><br>
        <%= render 'static_pages/comics' %>
        <br><br>
        <br>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'comics.js' %>