<% provide(:title, 'Nous contacter') %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> Nous contacter </h1>
      </div>
      <div class="panel-body">
        <h5> Sur les réseaux sociaux </h5>
        <br/>
        <br/>
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="row">
              <a href="https://twitter.com/ControverSci">
                <div class="col-xs-12 col-md-6 hvr-grow">
                  <div class="center-block">
                    <%= image_tag("tw.png", alt: "Logo", :class => "img-responsive") %>
                  </div>
                </div>
              </a>
              <a href="https://www.facebook.com/pages/ControverSciences/1547445222171352">
                <div class="col-xs-12 col-md-6 hvr-grow">
                  <div class="center-block">
                    <%= image_tag("face.png", alt: "Logo", :class => "img-responsive") %>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <h5> Par mail </h5>
        <h1>
          <br/>
        <a href="mailto:contact@controversciences.org">
          contact@controversciences.org
        </a>
          <br/>
          <br/>
        </h1>
        <h5> Ou contactez nous personnellement </h5>
        <br/>
        <br/>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-offset-1 col-lg-3">
            <%= image_tag("thibault-latrille-contact.jpg", alt: "Thibault Latrille", :class => "img-responsive img-rounded") %>
          </div>
          <div class="col-xs-12 col-md-8 col-lg-7">
            <h3>Thibault Latrille - Le Web <a href="mailto:thibault.latrille@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>

            <p>
              Responsable du site, webmaster et designer.
              Le contacter pour tout ce qui touche au site et au développement, ou pour lui payer une pinte ;-)
              <br/>
              Master de biologie à l'ENS Lyon, formation en mathématiques (Uppsala, Suède).
              CTO & Co-fondateur de <a href="http://www.symbiosis-technologies.com/">Symbiosis Technologies</a>.
              Scientifique, développeur informatique, grimpeur, traceur (pratiquant du parkour) et bien d'autres...
            </p>
            <ul>
              <li>
                <a href="mailto:thibault.latrille@controversciences.org">thibault.latrille@controversciences.org</a>
              </li>
              <li>
                <a href="https://www.researchgate.net/profile/Thibault_Latrille">ResearchGate</a>
              </li>
              <li>
                <a href="https://linkedin.com/pub/thibault-latrille/ab/70b/47b">Linkedin</a>
              </li>
            </ul>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-offset-1 col-lg-7">
            <h3>Nais Rivel - La Com <a href="mailto:nais.rivel@controversciences.org"><span class="glyphicon glyphicon-envelope"></span></a></h3>
            <p>Responsable communication de ControverSciences. La contacter pour tout ce qui touche à la communication,
              les réseaux sociaux ou pour les futurs événements, ou juste pour le fun.
              <br/>
              Master ESC Groupe Montpellier Business School, passionée d'innovations, de nouvelles technologies. Nageuse, randonneuse et trufficultrice.
            </p>
            <ul>
              <li>
                <a href="mailto:nais.rivel@controversciences.org">nais.rivel@controversciences.org</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/pub/nais-rivel/69/15b/a3">Linkedin</a>
              </li>
              <li>
                <a href="https://twitter.com/naisrivel">@NaisRivel</a>
              </li>
              <li>
                <a href="https://www.facebook.com/nais.rivel">Facebook</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <%= image_tag("nais-rivel.jpg", alt: "Nais Rivel", :class => "img-responsive img-rounded") %>
          </div>
        </div>
        <br/>
        <h5> Remerciement </h5>
        <p>Un grand merci à tout les contributeurs petits ou grands et aux longues discussions qui ont fait naitrent des idées.
          En espérant que vous aurez autant de <b>plaisir</b> que nous à contribuer et à <b>apprendre</b> sur le monde actuel qui nous entoure, et celui de demain...
          <b>qu’il est à nous de bâtir</b>.
        </p>
      </div>
    </div>
  </div>
</div>
</div>