<% provide(:title, 'Nous contacter') %>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Nous contacter
      </div>
      <div class="panel-body">
        Pendant la construction du site, contacter simplement Thibault par mail à
        Thibault.latrille@ens-lyon.fr.
        Facebook, twitter, et d'autres façon de communiquer sont en préparation pour l'ouverture officiel
      </div>
    </div>
  </div>
</div>
