<% provide(:title, 'Nous contacter') %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Nous contacter
      </div>
      <div class="panel-body">
        Pendant la construction du site, contacter nous à
        contact@controversciences.org
        Facebook, twitter, et d'autres façon de communiquer sont en préparation pour l'ouverture officielle
      </div>
    </div>
  </div>
</div>
</div>