<% provide(:title, "Aide") %>

<div class="col-xs-12 col-lg-4 col-lg-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      La mission de ControverSciences est d'aider les scientifiques à montrer et vulgariser leurs travaux sur
      les controverses qui touchent la société.
    </div>
    <div class="panel-body">
        ControverSciences est ainsi une passerelle entre la société, les scientifiques et la littérature scientifique.
        <%= image_tag("help-mission.png", alt: "Logo", :class => "img-responsive") %>
        <br/>
        <%= link_to "Tutoriel pour pour les visiteurs", how_to_path,
                    class: "btn btn-block btn-lg btn-primary" %>
        <%= link_to "Tutoriel pour les contributeurs", how_to_edit_path,
                    class: "btn btn-block btn-lg btn-primary" %>
        <%= link_to "Suggèrer une amélioration pour le site", suggestions_path,
                    class: "btn btn-block btn-lg btn-primary" %>
    </div>
  </div>
</div>