<% provide(:title, "Page d'accueil") %>
<div class="col-xs-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
        Le site est actuellement en phase de tests, on chase les bugs derrière nos claviers, un jeu super fun ;-)
        Si vous souhaitez apporter votre feedback sur le site ou participer aux tests, n'hésitez surtout pas à nous contacter
        ... Pour ça un p'tit mail à thibault.latrille@ens-lyon.fr
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-12 col-lg-4 col-lg-offset-4">
        <%= image_tag("logo.png", alt: "Logo", :class => "img-responsive") %>
          <h2>
            Et si on arrêtait de parler sans savoir ?
          </h2>
      <br/>
        <%= link_to "Mais c'est quoi ControverSciences ?", help_path,
                    class: "btn btn-block btn-lg btn-primary" %>
        <%= link_to "Découvrez les controverses !", timelines_path,
                      class: "btn btn-block btn-lg btn-primary" %>
          <%= link_to "Participez à l'aventure, Join Us !", signup_path,
                      class: "btn btn-block btn-lg btn-primary" %>
      </div>
  </div>
  </div>
</div>


