<% provide(:title, '') %>
<div class="col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-4">
  <%= image_tag("logo.png", alt: "Logo", :class => "img-responsive") %>
  <h2>
    Et si on arrêtait de nier les évidences ?
  </h2>
  <%= link_to "Découvrez les controverses !", timelines_path,
              class: "btn btn-block btn-lg btn-primary" %>
  <%= link_to "Participez à l'aventure, Join Us !", signup_path,
              class: "btn btn-block btn-lg btn-primary" %>
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip()
    })
<% end %>
