<% provide(:title, "Magna Charta") %>
<div id="my-container" class="container-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2">
    <div class="list-group">
      <%= link_to "#{t('views.footer.about')}".html_safe, about_path,
                  class: "list-group-item" %>
      <div class="list-group-item list-group-item-default cursor-not-allowed">
        La charte du site
      </div>
      <%= link_to t('views.navigation.faq'), faq_path,
                  class: "list-group-item" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-sm-offset-1 col-md-offset-0">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-offset-1">

          <div id="magna-charta" class="panel-body">
            <h2>Magna Charta : La grosse charte</h2>

            <div id="sommaire">
              <ol>
                <li><a href="/magna-charta#introduction">Introduction modération</a></li>
                <li><a href="/magna-charta#basics">Les bases, les hic, les basics</a></li>
                <li><a href="/magna-charta#demarche">Quelle est la démarche de ControverSciences ?</a></li>
                <li><a href="/magna-charta#controverse">Qu’est ce qu’une controverse ?</a></li>
                <li><a href="/magna-charta#reference">Qu’est ce qu’une référence ?</a></li>
                <li><a href="/magna-charta#contributeur">Qu’est-ce qu’un contributeur ?</a></li>
                <li><a href="/magna-charta#theme">Qu’est-ce qu’un thème ?</a></li>
                <li><a href="/magna-charta#pieges">Quelques pièges à éviter</a></li>
                <li><a href="/magna-charta#charte-titre">Charte des titres</a></li>
                <li><a href="/magna-charta#charte-cadres">Charte des cadres</a></li>
              </ol>
            </div>
            <div id="not-timeline">
              <div id="introduction"></div>
              <h3><strong>Introduction modération</strong></h3>

              <p>La possibilité de <strong>proposer des alternatives</strong> est au coeur du site et permet, en
                théorie, une <strong>amélioration progressive</strong> des formulations, analyses… etc.</p>

              <p>ControverSciences n'est pas pour autant une plate-forme comptant uniquement sur
                l'<strong>autorégulation</strong> de son contenu. Pour que les modérateurs chargés de la bonne tenue du
                site puissent être <strong>rigoureux sans être arbitraires</strong>, les <strong>règles</strong> que les
                contributeurs doivent s'efforcer de respecter sont définies ici en complément de la
                <strong>chartes des titres</strong> et de celle des <strong>cadres</strong>. Cette page est aussi
                l'occasion d'<strong>expliciter</strong> certaines définitions et hypothèses épistémologiques sur
                lesquelles repose ControverSciences et d'en proposer une <strong>(auto)critique</strong>.</p>

              <p>En fonction de la nature de l’écart à la charte, les modérateurs sont habilités : à contacter par mail
                l’utilisateur – à supprimer l’objet litigieux – à supprimer le compte de l’utilisateur.</p>

              <h3 id="basics"><strong>Les bases, les hic, les basics</strong></h3>

              <p>Inutile de préciser que la <strong>politesse</strong> est un prérequis même si le site a été conçu pour
                empêcher les <strong>altercations</strong> entre contributeurs. Celui qui arriverait à contourner le
                système pour s'en prendre à son prochain verra son <strong>compte supprimé</strong> sans avertissement.
              </p>

              <p>En dehors des <strong>attaques personnelles</strong>, il est envisageable d'appliquer des mesures moins
                violentes vis à vis d'un vocabulaire légèrement <strong>grossier</strong>. Par contre, les modérateurs
                seront <strong>intraitables</strong> concernant toute <strong>insulte</strong> ou tout
                <strong>propos s'attaquant</strong> à une <strong>communauté</strong> définie par son origine, ses
                pratiques, ses convictions …</p>

              <p>Tout acte de <strong>nuisance</strong> consistant à <strong>publier</strong> un <strong>lien</strong>
                vers un contenu de nature à <strong>choquer</strong> ou sans rapport avec les controverses est aussi de
                nature à motiver la <strong>suppression</strong> du <strong>compte</strong> associé.</p>

              <p>Certaines <strong>fonctions</strong> sont réservées aux administrateurs pour des raisons
                <strong>juridiques</strong>. La possibilité d'ajouter des images en fond des controverses nécessite, par
                exemple, de s'assurer que celles-ci soient libres de droit. Le contrôle systématique de cette donnée
                demanderait du temps et une connaissance du système de copyright dont l'équipe de ControverSciences ne
                dispose pas <em>a priori</em>.</p>

              <div id="demarche"></div>
              <h3><strong>Quelle est la démarche de ControverSciences ?</strong></h3>
              <h4>ControverSciences est un <strong>portail</strong> <strong>collaboratif</strong> et
                <strong>indépendant</strong> qui rassemble
                les <strong>publications</strong> <strong>scientifiques</strong> autour de <strong>questions</strong>
                <strong>controversées</strong>, en les rendant <strong>accessibles</strong> <strong>à tous</strong>.
              </h4>

              <p>Prendre la <strong>responsabilité</strong> de saisir au vol des débats de notre époque et les replacer
                dans un cadre scientifique rigoureux est un défi de taille. En faisant des
                <strong>publications scientifiques</strong> la base de tout contenu du site, l'objectif est double :
                faire<strong> sortir de l'ombre</strong> les publications austères, techniques, parfois inaccessibles et
                encourager les scientifiques qui participent activement à ControverSciences à ne pas succomber à la
                tentation d’une <strong>analyse partisane</strong>.</p>

              <p>Éviter les analyses partisanes ne veut cependant pas dire que seuls des articles dont les résultats
                font <strong>consensus</strong> dans la communauté scientifique sont considérés. Toute publication
                ajoutée sur le site n'a pas vocation à être détentrice d'une vérité mais à fournir des résultats qui
                peuvent être contestés et à illustrer l'état de la discussion. En effet, donner au lecteur un
                <strong>aperçu</strong> <strong>général</strong> d'une question passe autant par la mise en avant des
                contenus <strong>solides</strong> que par la critique des contenus pour lesquels un
                <strong>doute</strong> ou une <strong>réfutation</strong> existe.</p>

              <p>Les termes <strong><em>vulgarisation</em></strong> et
                <strong><em>diffusion/partage des connaissances</em></strong>, bien que sémantiquement malléables,
                peuvent tous être utilisés pour <strong>décrire</strong> ControverSciences tant qu’il est gardé en tête
                que la <strong>démarche</strong> du site est essentiellement <strong>définie</strong> par la
                <strong>pratique</strong> qu'il met en place et non par les mots choisis pour la décrire.</p>

              <p><strong></strong></p>

              <h3 id="controverse"><strong>Qu’est ce qu’une controverse ?</strong></h3>
              <H4>Par <strong>controverse</strong>, on entend : la<strong> discussion </strong>de <strong>toute position
              </strong>ou de<strong> toute opposition chargée d'enjeux sociaux</strong>.</H4>

              <p>Face aux discours basés sur des connaissances de bon sens, philosophiques et politiques,
                ControverSciences se fixe l'objectif de rendre plus visibles les <strong>résultats</strong> issus de la
                <strong>recherche scientifique</strong>.</p>

              <p>La controverse et sa formulation doivent donc être
                <strong>compatibles avec la méthode scientifique</strong>. Ce qui revient à la tautologie suivante : la
                méthode scientifique ne peut prétendre proposer de conclusions que dans un cadre où son application est
                possible.</p>

              <p>En revanche, les <strong>controverses non tranchées</strong> aux yeux des scientifiques sont toutes
                aussi acceptables que les questions au sujet desquelles il existe un <strong>consensus</strong> dans la
                communauté scientifique.</p>

              <p>Enfin, l'identification exhaustive des thèses et positionnements associés aux controverses n'est pas
                cruciale. Il faut cependant faire attention à ne pas sombrer dans une <strong>caricature</strong>
                brutale qui, en dénaturant une position, supprimerait aussi la plupart des <strong>enjeux</strong> de sa
                remise en question.</p>

              <h3 id="reference"><strong>Qu’est ce qu’une référence ?</strong></h3>
              <h4>Sous le terme <strong>référence</strong> sont regroupés les différents
                <strong>types de publication</strong> considérés
                comme <strong>recevables</strong> par la <strong>communauté scientifique contemporaine</strong>.</h4>

              Dans le détail, sont acceptés : les comptes-rendus de congrès scientifiques à
              <strong>comité de lecture</strong> – les revues scientifiques à comité de lecture – les monographies et
              manuscrits de thèses – les ouvrages de recherche. Une classification usuelle de la forme distingue les
              articles, reviews, systematic reviews, thèses, comptes-rendus de congrès et livres.</p>
              <p>Sont donc, entre autre, <strong>exclus</strong> comme sources : les <strong>témoignages</strong> – les
                <strong>sites</strong> internet – les articles de <strong>presse</strong> (même de vulgarisation) – les
                avis d'<strong>experts</strong>... Les <strong>sources exclues </strong>mais<strong>
                nécessaires</strong> à une bonne compréhension de la controverse et de ses enjeux peuvent figurer dans
                la <strong>synthèse</strong> ou dans le <strong>cadre</strong> de celle-ci et non au côté des éléments
                de preuve.</p>

              <p>Pour aller jusqu'au bout de la démarche d'exhumation des articles et <strong>inciter</strong> les
                scientifiques à appuyer aussi solidement leurs propos quand ils s'adressent au <strong>public</strong>
                qu'à leurs <strong>confrères</strong>, les <strong>liens</strong> vers les publications doivent presque
                toujours mener vers une <strong>version complète </strong>et<strong> téléchargeable</strong> de
                l'article ; dans la mesure du possible, il est préférable que les <strong>contributeurs</strong>
                fournissent eux-mêmes un tel <strong>lien</strong>. Dans les cas difficiles, la grenouille pourra sinon
                faire appel à un petit tour de passe-passe…</p>

              <p>Pour conclure, il paraît important de préciser que, sur ControverSciences, le
                <strong>recours exclusif</strong> aux modes de production des <strong>connaissances</strong> aujourd'hui
                <strong>institutionnalisés</strong>, est un choix <strong>arbitraire</strong> mais
                <strong>conscient</strong>.</p>

              <h3 id="contributeur"><strong>Qu’est-ce qu’un contributeur ?</strong></h3>
              <h4>Il est nécessaire d'avoir un <strong>compte</strong> <strong>contributeur</strong> sur
                ControverSciences
                pour pouvoir <strong>ajouter</strong> ou <strong>évaluer</strong> du <strong>contenu,</strong> mais pas
                pour le <strong>consulter</strong>.</h4>

              <p>Il est possible de consulter le site en tant que <strong>visiteur</strong> ou en tant que
                <strong>contributeur</strong>. Théoriquement, cette division qui passe par la création d'un
                <strong>compte</strong> et la connexion à ce dernier
                <strong>différencie les scientifiques qui contribuent du public qui consulte</strong>. En réalité, la
                frontière entre ces deux catégories est trouble. Hors de son domaine, un chercheur fait en quelque sorte
                parti du public d'un autre spécialiste. On peut néanmoins considérer qu'une certaine
                <strong>maîtrise </strong>de la<strong> méthode scientifique </strong>et des<strong> pratiques
                associées </strong>est<strong> suffisante</strong> pour analyser la plupart des publications.</p>

              <p>Pour créer un compte, il faut avoir une adresse mail appartenant à une
                <strong>institution scientifique</strong> ou, à défaut, indiquer ses <strong>intentions</strong>. Cette
                contrainte est destinée à garantir que les contributions soient le fruit de personnes apportant la
                preuve de leur <strong>motivation </strong>et de leur<strong> esprit scientifique</strong>.</p>

              <p>La question des <strong>lobbies</strong>, ou plus généralement des personnes disposées à user de
                <strong>malhonnêteté intellectuelle</strong>, est malheureusement quasi insolvable. Le premier outil de
                dissuasion à portée est une <strong>modération attentive</strong> épaulée par la
                <strong>vigilance</strong> des contributeurs. Un second moyen pour décourager ces pratiques consisterait
                à développer un outil de <strong>détection des publications biaisées</strong>. Ce projet est en bonne
                place dans la liste des priorités de l’équipe.</p>

              <p><strong></strong></p>

              <h3 id="theme"><strong>Qu’est-ce qu’un thème ?</strong></h3>

              <h4>Le <strong>thèmes</strong> sont attachés aux <strong>publications</strong> et désignent la
                <strong>méthodologie employée</strong>.</h4>

              <p>Les thèmes d'une <strong>controverse </strong>correspondent au résumé des thèmes des références
                déposées. Ils ne sont donc pas définis par la question mais par la <strong>nature des réponses</strong>
                proposées.</p>

              <p>Les différences entre les <strong>disciplines</strong> scientifiques ne se situent pas tant au niveau
                des <strong>objets</strong> qu'elles traitent qu'au niveau de la façon dont ils sont traités. Les
                <strong>questions</strong>, les <strong>méthodes</strong> et les <strong>techniques</strong> sont les
                principales particularités responsables de la différence de nature des résultats issus de champs
                scientifiques distincts. L'objectif d'une définition des thèmes au niveau des
                <strong>références</strong> et non du <strong>questionnement</strong> est aussi d'éviter que cette
                <strong>classification</strong> incite certains à se délimiter un territoire et d’autres à s'en sentir
                exclus<em>.</em></p>

              <p>Les thèmes ont été choisis selon <strong>deux critères</strong> : ne pas en multiplier le nombre à
                l<strong>'infini</strong> en évitant les <strong>subdivisions</strong> en sous disciplines – donner une
                <strong>représentativité</strong> <strong>équivalente</strong> aux sciences expérimentales, sociales ou
                théoriques en essayant de lutter contre certaines <strong>hiérarchisations</strong> parfois
                inconscientes.</p>

              <p>Les connexions, appartenances, hiérarchies ou conceptions des domaines étant extrêmement variables, il
                est peu probable que la palette des thèmes soit un jour <strong>indiscutable</strong>.</p>

              <h3 id="pieges"><strong>Quelques pièges à éviter</strong></h3>

              <p>Sans même parler de style ou d'élégance, certains termes et certaines constructions de phrases génèrent
                des imprécisions sur lesquelles il est facile de glisser, détournant ainsi la controverse. Voici une
                petite liste non exhaustive mais destinée à évoluer en même temps que le site.</p>
              <ul>
                <li>En fonction du contexte, certain concepts sont <strong>définis négativement</strong>, c'est à dire
                  comme opposition à un autre concept. Il y a un risque que le questionnement s'<strong>enlise</strong>
                  s'il se focalise sur des termes cristallisant l'essentiel du débat par leur
                  <strong>antagonisme</strong>. Une bonne pratique consiste ainsi à identifier les concept définis
                  <strong>positivement</strong> et à n’intégrer que ceux-ci dans la formulation de la question.<br/>L'opposition
                  <strong>naturel-social</strong> est un cas d'école. Dans de nombreux contextes, le naturel est compris
                  comme un non-social/non-humain. En général, il vaut mieux formuler la question à partir de concepts se
                  rattachant à la <strong>singularité sociale </strong>qu’à partir de la
                  <strong>norme naturelle</strong>.
                </li>
              </ul>
              <ul>
                <li>L'usage des <strong>guillemets</strong> est à proscrire à l'exception du cas où la controverse
                  concerne directement la <strong>légitimité</strong> de la notion cernée. Les guillemets ne doivent pas
                  correspondre à une prise de recul de l'utilisateur par rapport à son propre vocabulaire. Si un mot est
                  ressenti comme <strong>problématique</strong>, il est important de chercher soit même une
                  <strong>alternative convenable</strong>, plutôt que de transmettre le <strong>trouble</strong> au
                  lecteur en se défilant.
                </li>
              </ul>
              <ul>
                <li>L'effet de manche produit par un <strong>conditionnel</strong> mal géré est aussi un grand classique
                  particulièrement affectionné par les journalistes. Pour ne pas provoquer de <strong>confusion</strong>
                  ou pire, en jouer, il est préférable de formuler une <strong>incertitude</strong> sous forme de
                  <strong>question</strong>. En l'<strong>absence de preuve</strong>, suggérer une proposition en
                  utilisant le conditionnel relève de la <strong>malhonnêteté intellectuelle</strong>. S’il existe des
                  <strong>résultats</strong> ne suffisant pas pour <strong>établir</strong> une <strong>preuve</strong>,
                  ces derniers « suggèrent à la condition que » et non « suggéreraient ».
                </li>
              </ul>
              <p>Dans la logique de cette liste, certaines tournures de l'ordre du <strong>sophisme</strong> sont
                regroupées sous le terme de <strong>moisissures argumentatives</strong>. Consultez sans modération le
                <a href="http://cortecs.org/materiel/moisissures-argumentatives/">site du cortecs!</a> Les <strong>identifier</strong> est un premier pas pour les <strong>éviter</strong>.
              </p>

              <h3 id="charte-titre"><strong>Charte des titres</strong></h3>

              <p>
                L'art de la controverse exige l'exposition d'oppositions franches voir d'antagonismes. L'objectif de
                ControverSciences étant de replacer le plus <strong>rigoureusement</strong> possible le
                <strong>cœur du débat</strong> dans son <strong>contexte scientifique</strong>, la première mesure
                d'hygiène consiste à préserver l'énoncé des controverses de toute formulation pouvant générer des
                oppositions scientifiquement non recevables. Hélas, la cohabitation des sciences physiques, biologiques,
                sociales ou mathématiques avec des sujets d’actualité peut imposer un socle si large qu'il rend
                difficile la génération de <strong>problématiques rigoureuses</strong>.
                <br>
                Cette section a la prétention de fournir les <strong>obligations minimales</strong> que doivent remplir
                les titres de controverses.
              </p>
              <ul>
                <li><b>L'énoncé ne doit pas mener à une question d'ordre métaphysique ou universel</b><br>
                  A la différence de la philosophie, la science ne produit que des <strong>propositions bornées</strong>.
                  La science impose le recours systématique à des <strong>cadres de références</strong>,
                  portions de réalité délimitées qui confèrent leur sens au questions traitées, et hors desquels
                  celles-ci deviennent incontrôlables.
                </li>
              </ul>
              <ul>
                <li><b>L’énoncé doit être précis ET compréhensible</b><br>
                  Un énoncé large, bien que porteur de plus d'enjeux, peut <strong>générer des réfutations</strong> qui
                  passeront à côté de l'objet central de la controverse. Pour être <strong>précis</strong>, l'énoncé
                  doit <strong>expliciter</strong> au maximum le cadre de référence du questionnement (zone, date,
                  peuple, échelle… etc). L’objectif restant d’être <strong>compréhensible </strong>par tous,
                  il est nécessaire de faire un compromis et de délaisser toute <strong>technicité superflue</strong>.
                </li>
              </ul>
              <ul>
                <li><b>L'énoncé doit être acceptable aux yeux de toutes les disciplines impliquées</b><br>
                  Il est nécessaire d'accepter qu'un énoncé à caractère<strong> pluri/trans/inter/disciplinaire</strong>
                  se plie aux <strong>exigences </strong>de chacune des<strong> disciplines</strong> en présence.
                </li>
              </ul>
              <h3 id="charte-cadres"><strong>Charte des cadres</strong></h3>
              <h4>
                Un <strong>cadre de référence</strong> désigne la<strong> portion délimitée de réalité </strong>au sein
                de laquelle
                <br/>on s'interroge et où on prétend pouvoir produire un résultat.
              </h4>
              <p>Le cadre (ou contexte) doit délimiter : l’ensemble des<em> théories - définitions - hypothèses - outils
                -
                méthodes </em>ainsi que l’espace
                (<em>temporel - géographique - mathématique</em>) au sein desquels une proposition ou un questionnement
                prétendent avoir une <strong>valeur </strong>ou
                un<strong> sens</strong>. Théoriquement, changer l’un des paramètres du cadre revient à définir un
                nouvel espace
                dans lequel les propositions nécessitent
                d’être redémontrées. <br>
                Il serait <strong>irréaliste</strong> de souhaiter que le champ “Cadre, focus et mise au point de la
                controverse”
                fasse une <strong>description complète</strong> du cadre de référence de la controverse. Néanmoins, il
                faut
                essayer de s’en approcher pour trois raisons
                :
              </p>
              <ul>
                <li>Un scientifique qui aborde des <strong>résultats</strong>
                  <strong>hors de leur cadre de validité</strong> ne
                  fait pas de la médiation scientifique
                  mais de la <strong>politique </strong>ou de la <strong>philosophie</strong>.
                </li>
                <br>
                <li>Le public doit avoir accès à des <strong>précisions</strong> concernant un cadre qui peut lui être
                  étranger.
                </li>
                <br>
                <li>Il est des cadres au sein desquels une question n’est pas <strong>solvable</strong>. Travailler la
                  définition du<strong> cadre</strong>
                  est parfois la seule solution envisageable pour mettre en évidence une <strong>impasse</strong> ou en
                  sortir.
                </li>
              </ul>
              <p>
                Notez bien que cette section n’est pas destinée à compenser une éventuelle faiblesse dans la formulation
                du
                titre de la controverse.
                Un <strong>titre</strong> manquant de précision <strong>reste sujet à modération</strong>. En revanche
                l<strong>’équilibre</strong> entre <strong>précision</strong> et <strong>simplicité</strong> peut être à
                l’origine du maintien dans les titres de <strong>concepts </strong>nécessitant une<strong>
                explication</strong>.
                Cette section est, entre autres, destinée à <strong>accueillir </strong>de telles<strong>
                définitions</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>