<br/>
<br/>
<br/>
<br/>
<br/>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; ">
<style type="text/css">
    body {
        margin: 0;
        mso-line-height-rule: exactly;
        padding: 0;
        min-width: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    td {
        padding: 0;
        vertical-align: top;
    }
    .spacer,
    .border {
        font-size: 1px;
        line-height: 1px;
    }
    .spacer {
        width: 100%;
    }
    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    .image {
        font-size: 12px;
        Margin-bottom: 26px;
        mso-line-height-rule: at-least;
    }
    .image img {
        display: block;
    }
    .logo {
        mso-line-height-rule: at-least;
    }
    .logo img {
        display: block;
    }
    strong {
        font-weight: bold;
    }
    h1,
    h2,
    h3,
    p,
    ol,
    ul,
    li {
        Margin-top: 0;
    }
    ol,
    ul,
    li {
        padding-left: 0;
    }
    blockquote {
        Margin-top: 0;
        Margin-right: 0;
        Margin-bottom: 0;
        padding-right: 0;
    }
    .column-top {
        font-size: 52px;
        line-height: 52px;
    }
    .column-bottom {
        font-size: 26px;
        line-height: 26px;
    }
    .column {
        text-align: left;
    }
    .contents {
        table-layout: fixed;
        width: 100%;
    }
    .padded {
        padding-left: 90px;
        padding-right: 90px;
        word-break: break-word;
        word-wrap: break-word;
    }
    .wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        min-width: 620px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    table.wrapper {
        table-layout: fixed;
    }
    .one-col,
    .two-col,
    .three-col {
        Margin-left: auto;
        Margin-right: auto;
        width: 600px;
    }
    .centered {
        Margin-left: auto;
        Margin-right: auto;
    }
    .two-col .image {
        Margin-bottom: 22px;
    }
    .two-col .column-bottom {
        font-size: 30px;
        line-height: 30px;
    }
    .two-col .column {
        width: 300px;
    }
    .two-col .padded {
        padding-left: 25px;
        padding-right: 25px;
    }
    .three-col .image {
        Margin-bottom: 21px;
    }
    .three-col .column-bottom {
        font-size: 31px;
        line-height: 31px;
    }
    .three-col .column {
        width: 200px;
    }
    .three-col .padded {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media only screen and (min-width: 0) {
        .wrapper {
            text-rendering: optimizeLegibility;
        }
    }
    @media only screen and (max-width: 620px) {
        [class=wrapper] {
            min-width: 320px !important;
            width: 100% !important;
        }
        [class=wrapper] .one-col,
        [class=wrapper] .two-col,
        [class=wrapper] .three-col {
            width: 320px !important;
        }
        [class=wrapper] .column,
        [class=wrapper] .gutter {
            display: block;
            float: left;
            width: 320px !important;
        }
        [class=wrapper] .padded {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        [class=wrapper] .block {
            display: block !important;
        }
        [class=wrapper] .hide {
            display: none !important;
        }
        [class=wrapper] .image {
            margin-bottom: 26px !important;
        }
        [class=wrapper] .image img {
            height: auto !important;
            width: 100% !important;
        }
    }
    .shadow {
        font-size: 2px;
        line-height: 2px;
    }
    .one-col-bg,
    .two-col-bg,
    .three-col-bg,
    .one-col-feature-bg {
        width: 100%;
    }
    .one-col,
    .two-col,
    .three-col,
    .one-col-feature {
        table-layout: fixed;
    }
    .wrapper h1 {
        font-size: 36px;
        Margin-bottom: 24px;
    }
    .wrapper h2 {
        font-size: 26px;
        Margin-bottom: 20px;
    }
    .wrapper h3 {
        font-size: 16px;
        Margin-bottom: 16px;
    }
    .wrapper p,
    .wrapper ol,
    .wrapper ul {
        font-size: 16px;
    }
    .wrapper p a,
    .wrapper ol a,
    .wrapper ul a {
        text-decoration: underline;
    }
    .wrapper p a:hover,
    .wrapper ol a:hover,
    .wrapper ul a:hover {
        text-decoration: none;
    }
    .wrapper ol,
    .wrapper ul {
        Margin-left: 30px;
    }
    .wrapper li {
        Margin-bottom: 13px;
    }
    .wrapper a {
        text-decoration: none;
        transition: all 0.2s;
    }
    .wrapper blockquote {
        Margin-left: 0;
        Margin-right: 0;
    }
    .wrapper blockquote p {
        text-align: center;
    }
    .wrapper blockquote :last-child {
        Margin-bottom: 0 !important;
    }
    .btn {
        Margin-bottom: 26px;
        padding-bottom: 2px;
    }
    .divider {
        font-size: 4px;
        line-height: 4px;
    }
    .one-col .column table:nth-last-child(2) td h1:last-child,
    .one-col .column table:nth-last-child(2) td h2:last-child,
    .one-col .column table:nth-last-child(2) td h3:last-child,
    .one-col .column table:nth-last-child(2) td p:last-child,
    .one-col .column table:nth-last-child(2) td ol:last-child,
    .one-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 26px;
    }
    .one-col h1,
    .one-col .btn {
        text-align: center;
    }
    .one-col blockquote {
        Margin-bottom: 26px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .one-col blockquote p,
    .one-col blockquote ol,
    .one-col blockquote ul {
        font-size: 18px;
        line-height: 32px;
        Margin-left: -65px;
        Margin-right: -65px;
    }
    .one-col .divider {
        Margin-left: 185px;
        Margin-right: 185px;
        Margin-bottom: 26px;
    }
    .two-col .column table:nth-last-child(2) td h1:last-child,
    .two-col .column table:nth-last-child(2) td h2:last-child,
    .two-col .column table:nth-last-child(2) td h3:last-child,
    .two-col .column table:nth-last-child(2) td p:last-child,
    .two-col .column table:nth-last-child(2) td ol:last-child,
    .two-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 22px;
    }
    .two-col h1 {
        font-size: 26px;
        Margin-bottom: 24px;
    }
    .two-col h2 {
        font-size: 20px;
        Margin-bottom: 16px;
    }
    .two-col h3 {
        font-size: 14px;
        Margin-bottom: 12px;
    }
    .two-col p,
    .two-col ol,
    .two-col ul {
        font-size: 14px;
    }
    .two-col ol,
    .two-col ul {
        Margin-left: 26px;
    }
    .two-col li {
        Margin-bottom: 11px;
    }
    .two-col .btn {
        Margin-bottom: 22px;
    }
    .two-col .btn a {
        font-size: 12px;
        line-height: 22px;
        padding: 10px 28px;
    }
    .two-col .divider {
        Margin-left: 100px;
        Margin-right: 100px;
        Margin-bottom: 22px;
    }
    .two-col blockquote {
        Margin-bottom: 22px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .two-col blockquote p,
    .two-col blockquote ol,
    .two-col blockquote ul {
        font-size: 16px;
        line-height: 24px;
        Margin-left: 0;
        Margin-right: 0;
    }
    .three-col .column table:nth-last-child(2) td h1:last-child,
    .three-col .column table:nth-last-child(2) td h2:last-child,
    .three-col .column table:nth-last-child(2) td h3:last-child,
    .three-col .column table:nth-last-child(2) td p:last-child,
    .three-col .column table:nth-last-child(2) td ol:last-child,
    .three-col .column table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 21px;
    }
    .three-col h1 {
        font-size: 20px;
        Margin-bottom: 14px;
    }
    .three-col h2 {
        font-size: 16px;
        Margin-bottom: 12px;
    }
    .three-col h3 {
        font-size: 13px;
        Margin-bottom: 10px;
    }
    .three-col p,
    .three-col ol,
    .three-col ul {
        font-size: 13px;
    }
    .three-col ol,
    .three-col ul {
        Margin-left: 20px;
    }
    .three-col li {
        Margin-bottom: 10px;
    }
    .three-col .btn {
        Margin-bottom: 21px;
    }
    .three-col .btn a {
        font-size: 11px;
        font-weight: 700;
        line-height: 19px;
        padding: 6px 18px 5px 18px;
    }
    .three-col .divider {
        Margin-left: 65px;
        Margin-right: 65px;
        Margin-bottom: 21px;
    }
    .three-col blockquote {
        padding: 12px 0;
        Margin-bottom: 21px;
    }
    .three-col blockquote p,
    .three-col blockquote ol,
    .three-col blockquote ul {
        font-size: 15px;
        line-height: 23px;
    }
    .one-col-feature .column {
        width: 600px;
    }
    .one-col-feature .column-top {
        font-size: 64px;
        line-height: 64px;
    }
    .one-col-feature .column-bottom {
        font-size: 38px;
        line-height: 38px;
    }
    .one-col-feature h1,
    .one-col-feature h2,
    .one-col-feature h3 {
        text-align: center;
    }
    .one-col-feature h2 {
        font-weight: 400;
    }
    .one-col-feature p {
        text-align: center;
    }
    .one-col-feature .btn {
        text-align: center;
    }
    .one-col-feature .divider {
        Margin-left: 185px;
        Margin-right: 185px;
        Margin-bottom: 26px;
    }
    .preheader {
        width: 100%;
    }
    .preheader td,
    .preheader p {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 17px;
        width: 50%;
    }
    .preheader .title,
    .preheader .webversion {
        padding: 8px 32px;
    }
    .preheader .title {
        text-align: left;
    }
    .preheader .webversion {
        text-align: right;
    }
    .header {
        width: 100%;
    }
    .logo {
        padding-top: 16px;
        padding-bottom: 32px;
        width: 600px;
    }
    .logo div {
        font-size: 24px;
        letter-spacing: -0.01em;
        line-height: 32px;
    }
    .logo div a {
        text-decoration: none;
    }
    .logo div.logo-center {
        text-align: center;
    }
    .logo div.logo-center img {
        Margin-left: auto;
        Margin-right: auto;
    }
    .preheader a,
    .footer a {
        font-weight: 700;
        letter-spacing: 0.03em;
    }
    .footer {
        width: 100%;
    }
    .footer .inner {
        padding-top: 60px;
        padding-bottom: 55px;
    }
    .footer .cols {
        width: 600px;
    }
    .footer .left,
    .footer .right,
    .footer p {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 17px;
        padding-bottom: 22px;
    }
    .footer .left {
        text-align: left;
        width: 55%;
        padding-right: 5px;
    }
    .footer .right {
        text-align: right;
        width: 45%;
        padding-left: 5px;
    }
    .footer td.spacer {
        width: 7px;
    }
    .footer .social span {
        mso-text-raise: 6px;
    }
    .footer .social td {
        padding-right: 15px;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 11px;
    }
    .footer .social a {
        display: block;
        line-height: 21px;
        transition: opacity 0.2s;
    }
    .footer .social a:hover {
        opacity: 0.75;
    }
    @media (min-width: 0) {
        body {
            min-width: 100% !important;
        }
        [class=wrapper] {
            width: 100% !important;
        }
    }
    @media only screen and (max-width: 620px) {
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h1:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h2:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h3:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td p:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ol:last-child,
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ul:last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ul:last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ul:last-child {
            Margin-bottom: 26px !important;
        }
        [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td blockquote :last-child,
        [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td blockquote :last-child,
        [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td blockquote :last-child {
            margin-bottom: 0 !important;
        }
        [class=wrapper] .preheader {
            display: none;
        }
        [class=wrapper] .header {
            margin: 0 auto !important;
        }
        [class=wrapper] .logo {
            padding-top: 32px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            width: 280px !important;
        }
        [class=wrapper] .logo img {
            max-width: 280px !important;
            height: auto !important;
        }
        [class=wrapper] .footer .inner {
            padding-top: 76px !important;
        }
        [class=wrapper] .footer .cols {
            width: 320px !important;
        }
        [class=wrapper] .footer .left,
        [class=wrapper] .footer .right {
            display: block !important;
            width: 300px !important;
            text-align: center !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            margin: 0 auto !important;
        }
        [class=wrapper] .social {
            margin-left: auto;
            margin-right: auto;
        }
        [class=wrapper] .social .spacer {
            display: none !important;
        }
        [class=wrapper] .social td {
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: block !important;
        }
        [class=wrapper] .social td:last-child {
            padding-bottom: 30px !important;
        }
        [class=wrapper] .first .column-bottom,
        [class=wrapper] .second .column-top,
        [class=wrapper] .three-col .second .column-bottom,
        [class=wrapper] .three-col .third .column-top {
            display: none;
        }
        [class=wrapper] h1 {
            font-size: 36px !important;
            margin-bottom: 24px !important;
        }
        [class=wrapper] h2 {
            font-size: 26px !important;
            margin-bottom: 20px !important;
        }
        [class=wrapper] h3 {
            font-size: 16px !important;
            line-height: 24px !important;
            margin-bottom: 16px !important;
        }
        [class=wrapper] p,
        [class=wrapper] ol,
        [class=wrapper] ul {
            font-size: 16px !important;
            line-height: 26px !important;
            margin-bottom: 26px !important;
        }
        [class=wrapper] ol,
        [class=wrapper] ul {
            margin-left: 32px !important;
        }
        [class=wrapper] li {
            margin-bottom: 13px !important;
        }
        [class=wrapper] .image {
            margin-bottom: 26px !important;
        }
        [class=wrapper] .divider {
            Margin-left: 115px !important;
            Margin-right: 115px !important;
            margin-bottom: 26px !important;
        }
        [class=wrapper] .btn {
            margin-bottom: 26px !important;
        }
        [class=wrapper] .btn a {
            display: block !important;
            font-size: 14px !important;
            font-weight: 700 !important;
            line-height: 24px !important;
            padding: 13px 10px 12px 10px !important;
        }
        [class=wrapper] blockquote {
            border-bottom: 0 !important;
            margin-bottom: 0 !important;
            padding-top: 16px !important;
            padding-bottom: 0 !important;
        }
        [class=wrapper] blockquote:after {
            border-top: inherit;
            content: '';
            display: block;
            height: 26px;
            margin-top: 16px;
        }
        [class=wrapper] blockquote p,
        [class=wrapper] blockquote ol,
        [class=wrapper] blockquote ul {
            font-size: 18px !important;
            line-height: 32px !important;
            margin-left: -10px !important;
            margin-right: -10px !important;
        }
        [class=wrapper] blockquote ol,
        [class=wrapper] blockquote ul {
            margin-left: 10px !important;
        }
        [class=wrapper] blockquote :last-child {
            margin-bottom: 0 !important;
        }
        [class=wrapper] .one-col-feature .column-top {
            font-size: 62px !important;
            line-height: 62px !important;
        }
        [class=wrapper] .one-col-feature .column-bottom {
            font-size: 38px !important;
            line-height: 38px !important;
        }
        [class=wrapper] .one-col-feature blockquote {
            padding-top: 38px !important;
            padding-bottom: 25px !important;
        }
        [class=wrapper] .one-col-feature blockquote:after {
            display: none;
        }
    }
</style>
<!--[if (gte mso 9)|(IE)]>
<style>
    body {
        background-color: #ffffff !important;
    }
    .column-top {
        mso-line-height-rule: exactly !important;
    }
</style>
<![endif]-->
</head>
<body style="margin: 0;mso-line-height-rule: exactly;padding:
        0;min-width: 100%" text="#000000" bgcolor="#FFFFFF">
<center class="wrapper" style="display: table;table-layout:
        fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust:
        100%;-ms-text-size-adjust: 100%;background-color: #f6f9fb">
<table class="preheader" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #f6f9fb">
  <tbody>
  <tr>
    <td class="title" style="padding: 8px 32px;vertical-align:
            top;font-size: 11px;font-weight: 400;letter-spacing:
            0.01em;line-height: 17px;width: 50%;color:
            #b3b3b3;text-align: left;font-family: sans-serif">
      <div>Bulletin d'information Avril 2015</div>
    </td>
    <td class="webversion" style="padding: 8px
            32px;vertical-align: top;font-size: 11px;font-weight:
            400;letter-spacing: 0.01em;line-height: 17px;width:
            50%;color: #b3b3b3;text-align: right;font-family:
            sans-serif"> <br>
    </td>
  </tr>
  </tbody>
</table>
<table class="header" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #f6f9fb">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top"> </td>
    <td class="logo" style="padding: 0;vertical-align:top;mso-line-height-rule: at-least;padding-top:16px;padding-bottom: 32px;width: 600px">
      <div class="logo-left" style="font-size:
              24px;letter-spacing: -0.01em;line-height: 32px;color:
              #2e3b4e;font-family: sans-serif" id="emb-email-header" align="left"><a style="text-decoration: none;transition:
              all 0.2s;color: #2e3b4e" href="http://www.controversciences.org/"><img
      style="border: 0;-ms-interpolation-mode:
              bicubic;display: block;max-width: 120px"
      src="http://www.controversciences.org/assets/images/newsletter/logo.png"
      alt="ControverSciences" height="80" width="80"></a></div>
    </td>
    <td style="padding: 0;vertical-align: top"> </td>
  </tr>
  </tbody>
</table>
<table class="one-col-bg" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #f6f9fb">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top" align="center">
      <table class="one-col centered" style="border-collapse:
              collapse;border-spacing: 0;Margin-left:
              auto;Margin-right: auto;width: 600px;table-layout:
              fixed">
        <tbody>
        <tr>
          <td class="column" style="padding: 0;vertical-align:
                  top;text-align: left">
            <div>
              <div class="column-top" style="font-size:
                      52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 36px;Margin-bottom:
                          24px;font-family: sans-serif;text-align:
                          center;line-height: 44px">Bulletin
                    d'informations</h1>
                  <h2 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 26px;Margin-bottom:
                          20px;font-family:
                          sans-serif;line-height: 34px;text-align:
                          center">Avril 2015</h2>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;line-height:
                          25px;Margin-bottom: 25px;font-weight:
                          300"><a style="text-decoration:
                          underline;transition: all 0.2s;color:
                          #2186b8"
                                  data-emb-href-display="://www.controversciences.org/"
                                  href="http://www.controversciences.org/">ControverSciences</a>
                    ouvre ces portes et vous invite à son
                    inauguration digitale !</p>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;line-height:
                          25px;Margin-bottom: 25px;font-weight:
                          300">Que vous soyez curieux, petit futé,
                    grand maitre de l'argumentation ou une
                    encyclopedie sur pattes, <a
                  style="text-decoration:
                          underline;transition: all 0.2s;color:
                          #2186b8"
                  data-emb-href-display="://www.controversciences.org/"
                  href="http://www.controversciences.org/">ControverSciences</a>
                    est fait pour vous.</p>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;line-height:
                          25px;Margin-bottom: 25px;font-weight:
                          300"><a style="text-decoration:
                          underline;transition: all 0.2s;color:
                          #2186b8"
                                  data-emb-href-display="://www.controversciences.org/"
                                  href="http://www.controversciences.org/">ControverSciences</a>
                    est pensée pour accueillir tous le
                    monde, à vous scientifiques pour
                    partager votre passions, à tous pour
                    découvrir des expériences étonnantes.  </p>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;line-height:
                          25px;Margin-bottom: 25px;font-weight:
                          300">N'hésitez pas à partager ce mail
                    autour de vous</p>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;line-height:
                          25px;Margin-bottom: 25px;font-weight:
                          300;text-align: right"><a
                  style="text-decoration:
                          underline;transition: all 0.2s;color:
                          #2186b8;text-align: right"
                  data-emb-href-display="thibault.latrille@controversciences.org"
                  href="mailto:thibault.latrille@controversciences.org">Thibault</a> &amp;
                    <a style="text-decoration:
                            underline;transition: all 0.2s;color:
                            #2186b8;text-align: right"
                       data-emb-href-display="nais.rivel@controversciences.org"
                       href="mailto:nais.rivel@controversciences.org">Naïs</a></p>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="btn" style="Margin-bottom:
                          26px;padding-bottom: 2px;text-align:
                          center">
                    <!--[if !mso]-->
                    <a style="background-image:
                          url(http://i3.cmail2.com/static/eb/master/05-slate/images/btn.png);background-repeat:
                          repeat-x;background-position: left
                          top;border-radius: 3px;display:
                          inline-block;font-size:
                          14px;font-weight: 700;line-height:
                          24px;padding: 13px 35px 12px
                          35px;text-align:
                          center;text-decoration:
                          none;transition: all 0.2s;color:
                          #fff;font-family:
                          sans-serif;background-color:
                          #1a232b;box-shadow: 0 2px 0
                          #0b0e12;text-shadow: 0 1px 0 0 1px 0
                          #172027" href="http://www.controversciences.org/">
                      Découvrir, s'enrichir.</a>
                    <!--[endif]-->
                    <!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://www.controversciences.org/" style="width:208px" arcsize="7%" fill="t" stroke="f"><v:fill type="tile" src="http://i3.cmail2.com/static/eb/master/05-slate/images/btn.png" color="#1A232B"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">D&#233;couvrir, s&#39;enrichir.</center></v:textbox></v:roundrect>
                    <![endif]-->
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    26px;line-height: 26px"> </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table class="three-col-bg" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #e4edf3">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top" align="center">
      <table class="three-col centered" style="border-collapse:
              collapse;border-spacing: 0;Margin-left:
              auto;Margin-right: auto;width: 600px;table-layout:
              fixed">
        <tbody>
        <tr>
          <td class="column first" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
          <td class="column second" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div>
              <div class="column-top" style="font-size:
                      52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <div style="height:20px"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <blockquote style="Margin-top:
                          0;Margin-right: 0;Margin-bottom:
                          21px;padding-right: 0;Margin-left:
                          0;padding: 12px 0;border-top: 1px solid
                          #ced6db;border-bottom: 1px solid
                          #ced6db">
                    <h1 style="Margin-top: 0;color:
                            #2e3b4e;font-size: 20px;Margin-bottom:
                            0 !important;font-family:
                            sans-serif;line-height:
                            28px;text-align: center"><strong
                    style="font-weight:
                            bold;Margin-bottom: 0 !important">Les
                      nouveautés</strong></h1>
                  </blockquote>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
          <td class="column third" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table class="three-col-bg" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #e4edf3">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top" align="center">
      <table class="three-col centered" style="border-collapse:
              collapse;border-spacing: 0;Margin-left:
              auto;Margin-right: auto;width: 600px;table-layout:
              fixed">
        <tbody>
        <tr>
          <td class="column first" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div>
              <div class="column-top" style="font-size:
                      52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="image" style="font-size:
                          12px;Margin-bottom:
                          21px;mso-line-height-rule:
                          at-least;color: #4e5561;font-family:
                          sans-serif"> <img style="border:0;-ms-interpolation-mode:bicubic;display: block;max-width:256px"
                  src="http://www.controversciences.org/assets/images/newsletter/05_15_1.png"
                  alt="" height="180" width="180"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 20px;Margin-bottom:
                          14px;font-family:
                          sans-serif;line-height: 28px">Naviguer</h1>
                  <p style="Margin-top: 0;color:#4e5561;font-size: 13px;font-family:sans-serif;font-weight: 300;line-height:21px;Margin-bottom: 21px"> Le design du site a été revu,
                    la navigation est plus intuitive et
                    agréable.</p>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
          <td class="column second" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div>
              <div class="column-top" style="font-size:
                      52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="image" style="font-size:
                          12px;Margin-bottom:
                          21px;mso-line-height-rule:
                          at-least;color: #4e5561;font-family:
                          sans-serif" align="center"> <img
                  style="border:
                          0;-ms-interpolation-mode:
                          bicubic;display: block;max-width:
                          256px"
                  src="http://www.controversciences.org/assets/images/newsletter/05_15_2.png"
                  alt="" height="180" width="180"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 20px;Margin-bottom:
                          14px;font-family:
                          sans-serif;line-height: 28px">Rédiger</h1>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 13px;font-family:
                          sans-serif;font-weight: 300;line-height:
                          21px;Margin-bottom: 21px">Si vous êtes
                    frileux, rédigez vos contributions en
                    mode privé pour les peaufiner avant de
                    les rendre publiques.</p>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
          <td class="column third" style="padding:
                  0;vertical-align: top;text-align: left;width:
                  200px">
            <div>
              <div class="column-top" style="font-size:
                      52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="image" style="font-size:12px;Margin-bottom:21px;mso-line-height-rule:at-least;color: #4e5561;font-family:sans-serif"> <img
                  style="border:
                          0;-ms-interpolation-mode:
                          bicubic;display: block;max-width:
                          256px"
                  src="http://www.controversciences.org/assets/images/newsletter/05_15_3.png"
                  alt="" height="180" width="180"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        10px;padding-right: 10px;word-break:
                        break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 20px;Margin-bottom:
                          14px;font-family:
                          sans-serif;line-height: 28px">Montrer</h1>
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 13px;font-family:
                          sans-serif;font-weight: 300;line-height:
                          21px;Margin-bottom: 21px">Associez des
                    figures (bitmap ou vectorielles) aux
                    contributions, ajoutez une légende.</p>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    31px;line-height: 31px"> </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table class="three-col-bg" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #e4edf3">
<tbody>
<tr>
  <td style="padding: 0;vertical-align: top" align="center">
    <table class="three-col centered" style="border-collapse:
            collapse;border-spacing: 0;Margin-left:
            auto;Margin-right: auto;width: 600px;table-layout:
            fixed">
      <tbody>
      <tr>
        <td class="column first" style="padding:
                0;vertical-align: top;text-align: left;width:
                200px">
          <div>
            <div class="column-top" style="font-size:
                    52px;line-height: 52px"> </div>
          </div>
          <table class="contents" style="border-collapse:
                  collapse;border-spacing: 0;table-layout:
                  fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:
                      0;vertical-align: top;padding-left:
                      10px;padding-right: 10px;word-break:
                      break-word;word-wrap: break-word">
                <div class="image" style="font-size:
                        12px;Margin-bottom:
                        21px;mso-line-height-rule:
                        at-least;color: #4e5561;font-family:
                        sans-serif"> <img
                style="border:
                        0;-ms-interpolation-mode:
                        bicubic;display: block;max-width:
                        256px"
                src="http://www.controversciences.org/assets/images/newsletter/05_15_4.png"
                alt="" height="180" width="180"> </div>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="contents" style="border-collapse:
                  collapse;border-spacing: 0;table-layout:
                  fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:
                      0;vertical-align: top;padding-left:
                      10px;padding-right: 10px;word-break:
                      break-word;word-wrap: break-word">
                <h1 style="Margin-top: 0;color:
                        #2e3b4e;font-size: 20px;Margin-bottom:
                        14px;font-family:
                        sans-serif;line-height: 28px">Améliorer</h1>
                <p style="Margin-top: 0;color:
                        #4e5561;font-size: 13px;font-family:
                        sans-serif;font-weight: 300;line-height:
                        21px;Margin-bottom: 21px">Les analyses sont découpées en
                  plusieurs sous parties. Votez pour les
                  meilleurs sous-parties pour composer la
                  meilleure analyse. Améliorez une analyse
                  en rédigeant les sous parties qui ne
                  vous conviennent pas.</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="column-bottom" style="font-size:
                  31px;line-height: 31px"> </div>
        </td>
        <td class="column second" style="padding:
                0;vertical-align: top;text-align: left;width:
                200px">
          <div>
            <div class="column-top" style="font-size:
                    52px;line-height: 52px"> </div>
          </div>
          <table class="contents" style="border-collapse:
                  collapse;border-spacing: 0;table-layout:
                  fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:
                      0;vertical-align: top;padding-left:
                      10px;padding-right: 10px;word-break:
                      break-word;word-wrap: break-word">
                <div class="image" style="font-size:
                        12px;Margin-bottom:
                        21px;mso-line-height-rule:
                        at-least;color: #4e5561;font-family:
                        sans-serif"> <img
                style="border:
                        0;-ms-interpolation-mode:
                        bicubic;display: block;max-width:
                        256px"
                src="http://www.controversciences.org/assets/images/newsletter/05_15_5.png"
                alt="" height="180" width="180"> </div>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="contents" style="border-collapse:
                  collapse;border-spacing: 0;table-layout:
                  fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:
                      0;vertical-align: top;padding-left:
                      10px;padding-right: 10px;word-break:
                      break-word;word-wrap: break-word">
                <h1 style="Margin-top: 0;color:
                        #2e3b4e;font-size: 20px;Margin-bottom:
                        14px;font-family:
                        sans-serif;line-height: 28px">Visualiser</h1>
                <p style="Margin-top: 0;color:
                        #4e5561;font-size: 13px;font-family:
                        sans-serif;font-weight: 300;line-height:
                        21px;Margin-bottom: 21px"> Vous pouvez
                  afficher les références qui sont pour ou
                  contre, au choix et à la volée. </p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="column-bottom" style="font-size:31px;line-height: 31px"> </div>
        </td>
        <td class="column third" style="padding:0;vertical-align: top;text-align: left;width:200px">
          <div>
            <div class="column-top" style="font-size:52px;line-height: 52px"> </div>
          </div>
          <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:0;vertical-align: top;padding-left:10px;padding-right: 10px;word-break:break-word;word-wrap: break-word">
                <div class="image" style="font-size:12px;Margin-bottom:21px;mso-line-height-rule:at-least;color: #4e5561;font-family:sans-serif" align="center"> <a
                style="text-decoration:none;transition: all 0.2s;color:#2186b8"
                href="http://www.controversciences.org/suggestions"><img
                style="border:0;-ms-interpolation-mode:bicubic;display: block;max-width:256px"
                src="http://www.controversciences.org/assets/images/newsletter/05_15_6.png"
                alt="" height="180" width="180"></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
            <tbody>
            <tr>
              <td class="padded" style="padding:0;vertical-align: top;padding-left:10px;padding-right: 10px;word-break:break-word;word-wrap: break-word">
                <h1 style="Margin-top: 0;color:#2e3b4e;font-size: 20px;Margin-bottom:14px;font-family:sans-serif;line-height: 28px">Discuter</h1>
                <p style="Margin-top: 0;color:#4e5561;font-size: 13px;font-family:sans-serif;font-weight: 300;line-height:21px;Margin-bottom: 21px">
                  Proposez et
                  discutez des titres des controverses,
                  même sans compte utilisateurs. N'oubliez
                  pas de proposer des idées pour améliorer
                  le site ;-)</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="column-bottom" style="font-size:31px;line-height: 31px"> </div>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
</tbody>
</table>
<table class="two-col-bg" style="border-collapse:collapse;border-spacing: 0;width: 100%;background-color:#ebf2f6">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top" align="center">
      <table class="two-col centered" style="border-collapse:collapse;border-spacing: 0;Margin-left:auto;Margin-right: auto;width: 600px;table-layout:fixed">
        <tbody>
        <tr>
          <td class="column first" style="padding:0;vertical-align: top;text-align: left;width:300px">
            <div>
              <div class="column-top" style="font-size:52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:25px;padding-right: 25px;word-break:break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:#2e3b4e;font-size: 26px;Margin-bottom:24px;font-family:sans-serif;line-height: 34px"><a
                  style="text-decoration:none;transition: all 0.2s;color:#2186b8"
                  data-emb-href-display="://www.controversciences.org/timelines/25"
                  href="http://www.controversciences.org/timelines/25">L'ocytocine
                    : l'hormone qui crée des liens ?</a></h1>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:25px;padding-right: 25px;word-break:break-word;word-wrap: break-word">
                  <div class="image" style="font-size:12px;Margin-bottom:22px;mso-line-height-rule:at-least;color: #4e5561;font-family:sans-serif" align="center"> <img
                  style="border:0;-ms-interpolation-mode:bicubic;display: block;max-width:480px"
                  src="http://www.controversciences.org/assets/images/newsletter/05_15_7.png"
                  alt="" height="217" width="250"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:30px;line-height: 30px"> </div>
          </td>
          <td class="column second" style="padding:0;vertical-align: top;text-align: left;width:300px">
            <div>
              <div class="column-top" style="font-size:52px;line-height: 52px"> </div>
            </div>
            <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:25px;padding-right: 25px;word-break:break-word;word-wrap: break-word">
                  <blockquote style="Margin-top:0;Margin-right: 0;Margin-bottom:22px;padding-right: 0;Margin-left:0;padding-top: 14px;padding-bottom:14px;border-top: 1px solid#d4dade;border-bottom: 1px solid#d4dade">
                    <p style="Margin-top: 0;color:#4e5561;font-size: 16px;font-family:sans-serif;font-weight:300;line-height: 25px;Margin-bottom: 0!important;text-align:center;Margin-left: 0;Margin-right: 0">
                      Découvrez et enrichissez cette controverse.</p>
                  </blockquote>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:25px;padding-right: 25px;word-break:break-word;word-wrap: break-word">
                  <p style="Margin-top: 0;color:#4e5561;font-size: 14px;font-family:sans-serif;font-weight: 300;line-height:22px;Margin-bottom: 22px"><a
                  style="text-decoration:underline;transition: all 0.2s;color:#2186b8"
                  data-emb-href-display="://www.controversciences.org/timelines/25"
                  href="http://www.controversciences.org/timelines/25">Lumière
                    sur l'ocytocine et les résultats
                    d'experiences surprenantes.</a></p>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:collapse;border-spacing: 0;table-layout:fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:25px;padding-right: 25px;word-break:break-word;word-wrap: break-word">
                  <blockquote style="Margin-top:0;Margin-right: 0;Margin-bottom:22px;padding-right: 0;Margin-left:0;padding-top: 14px;padding-bottom:14px;border-top: 1px solid#d4dade;border-bottom: 1px solid#d4dade">
                    <p style="Margin-top: 0;color:#4e5561;font-size: 16px;font-family:sans-serif;font-weight:300;line-height: 25px;Margin-bottom: 0!important;text-align:center;Margin-left: 0;Margin-right: 0">
                      Cette
                      controverse illustre le fonctionnement
                      du site, vous pouvez vous en inspirer
                      pour créer d'autres controverses.</p>
                  </blockquote>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:
                    30px;line-height: 30px"> </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table class="one-col-feature-bg" style="border-collapse:
        collapse;border-spacing: 0;width: 100%;background-color:
        #dae6ee">
  <tbody>
  <tr>
    <td style="padding: 0;vertical-align: top" align="center">
      <div class="shadow" style="font-size: 2px;line-height:
              2px"> </div>
      <table class="one-col-feature centered"
             style="border-collapse: collapse;border-spacing:
                     0;Margin-left: auto;Margin-right: auto;table-layout:
                     fixed">
        <tbody>
        <tr>
          <td class="column" style="padding: 0;vertical-align:
                  top;text-align: left;width: 600px">
            <div>
              <div class="column-top" style="font-size:
                      64px;line-height: 64px"> </div>
            </div>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <h1 style="Margin-top: 0;color:
                          #2e3b4e;font-size: 36px;Margin-bottom:
                          24px;font-family: sans-serif;text-align:
                          center;line-height: 44px">Appel à votre
                    créativité et à vos connaissances</h1>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="divider" style="font-size:
                          4px;line-height: 4px;Margin-left:
                          185px;Margin-right: 185px;Margin-bottom:
                          26px;background-color: #c4cfd7"> </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <p style="Margin-top: 0;color:
                          #4e5561;font-size: 16px;font-family:
                          sans-serif;text-align:
                          center;line-height: 25px;Margin-bottom:
                          25px;font-weight: 300">ControverSciences
                    fonctionne pour vous et grace à vous,
                    mettez vos neurones à contributions !</p>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:
                        0;vertical-align: top;padding-left:
                        90px;padding-right: 90px;word-break:
                        break-word;word-wrap: break-word">
                  <div class="btn" style="Margin-bottom:
                          26px;padding-bottom: 2px;text-align:
                          center">
                    <!--[if !mso]--><a
                  style="background-image:
                          url(http://i3.cmail2.com/static/eb/master/05-slate/images/btn.png);background-repeat:
                          repeat-x;background-position: left
                          top;border-radius: 3px;display:
                          inline-block;font-size:
                          14px;font-weight: 700;line-height:
                          24px;padding: 13px 35px 12px
                          35px;text-align:
                          center;text-decoration:
                          none;transition: all 0.2s;color:
                          #fff;font-family:
                          sans-serif;background-color:
                          #1a232b;box-shadow: 0 2px 0
                          #0b0e12;text-shadow: 0 1px 0 0 1px 0
                          #172027"
                  href="http://www.controversciences.org/suggestions/16">J'ai
                    une punchline pour le site</a><!--[endif]-->
                    <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://www.controversciences.org/suggestions/16" style="width:270px" arcsize="7%" fill="t" stroke="f"><v:fill type="tile" src="http://i3.cmail2.com/static/eb/master/05-slate/images/btn.png" color="#1A232B"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">J&#39;ai une punchline pour le site</center></v:textbox></v:roundrect><![endif]--></div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="contents" style="border-collapse:
                    collapse;border-spacing: 0;table-layout:
                    fixed;width: 100%">
              <tbody>
              <tr>
                <td class="padded" style="padding:0;vertical-align: top;padding-left:90px;padding-right: 90px;word-break:break-word;word-wrap: break-word">
                  <div class="btn" style="Margin-bottom:26px;padding-bottom: 2px;text-align:center">
                    <!--[if !mso]--><a
                  style="background-repeat:repeat-x;background-position: lefttop;border-radius: 3px;display:
                          inline-block;font-size:
                          14px;font-weight: 700;line-height:
                          24px;padding: 13px 35px 12px
                          35px;text-align:
                          center;text-decoration:
                          none;transition: all 0.2s;color:
                          #fff;font-family:
                          sans-serif;background-color:
                          #1a232b;box-shadow: 0 2px 0
                          #0b0e12;text-shadow: 0 1px 0 0 1px 0
                          #172027"
                  href="http://www.controversciences.org/signup">
                    Créer un compte et contribuer
                  </a><!--[endif]-->
                    <!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://www.controversciences.org/signup" style="width:420px" arcsize="5%" fill="t" stroke="f"><v:fill type="tile" src="http://i3.cmail2.com/static/eb/master/05-slate/images/btn.png" color="#1A232B"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">Je connais plein d&#39;articles int&#233;ressants, je veux<br>
                        contribuer !</center></v:textbox></v:roundrect><![endif]--></div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="column-bottom" style="font-size:38px;line-height: 38px"> </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="shadow" style="font-size: 2px;line-height:2px"> </div>
    </td>
  </tr>
  </tbody>
</table>
<table class="footer" style="border-collapse:collapse;border-spacing: 0;width: 100%;background-color:#f6f9fb">
  <tbody>
  <tr>
    <td class="inner" style="padding: 0;vertical-align:top;padding-top: 60px;padding-bottom: 55px" align="center">
      <table class="cols" style="border-collapse:collapse;border-spacing: 0;width: 600px">
        <tbody>
        <tr>
          <td class="left" style="padding: 0;vertical-align:top;font-size: 11px;font-weight:400;letter-spacing: 0.01em;line-height:17px;padding-bottom: 22px;text-align: left;width:55%;padding-right: 5px;color: #b3b3b3;font-family:sans-serif">
            <div>ControverSciences, organisons la connaissance !</div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</center>
</body>
</html>