<% provide(:title, "Suggèrer une amélioration") %>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Proposer une amélioration.
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-lg-4 col-lg-offset-4">
        <br/>
        <%= link_to "La mission de ControverSciences", help_path,
                    class: "btn btn-block btn-lg btn-primary" %>
        <%= link_to "Tutoriel pour les visiteurs", how_to_path,
                    class: "btn btn-block btn-lg btn-primary" %>
        <%= link_to "Tutoriel pour les contributeurs", how_to_edit_path,
                    class: "btn btn-block btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>