<% provide(:title, "Aide") %>
<div id="my-container" class="container-fluid">
<div class="col-xs-12 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Conditions d'utilisation</h4>
    </div>
    <div class="panel-body">
        Vous acceptez que vos productions soient distribuées sous une licence Creative Commons Attribution
        et Partage à l'identique.
      <br/>
      <br/>
        Controversciences a fait le choix de la licence Creatives Commons Attribution et Partage à l'identique (CC BY
        SA),
        qui autorise la diffusion et la modification des œuvres originales sous deux conditions seulement :
      <br/>
      <ul>
        <li>
          de citer l'auteur et la source d'origine du document
        </li>
        <li>
          que les œuvres dérivées soient elles aussi diffusées sous la licence CC BY SA, assurant que l'œuvre dérivée
          soit elle aussi libre.
        </li>
      </ul>
      <br/>
      Les administrateurs et modérateurs de ce forum s’efforceront de supprimer ou éditer tous les messages à caractère
      répréhensible
      aussi rapidement que possible. Toutefois, il leur est impossible de passer en revue tous les messages.
      Vous admettez donc que toutes vos productions expriment votre point de vue et votre opinion,
      et non pas des administrateurs, ou modérateurs, ou webmestres et par conséquent ne peuvent pas être tenus pour
      responsables.
      <br/>
      <br/>
      Vous consentez à ne pas poster de messages injurieux, obscènes, vulgaires, diffamatoires, menaçants,
      sexuels ou tout autre message qui violeraient les lois applicables.
      Le faire peut vous conduire à être banni immédiatement de façon permanente.
      Vous êtes d’accord sur le fait que le webmestre, l’administrateur et les modérateurs de ce forum ont le droit de
      supprimer, éditer, déplacer ou verrouiller n’importe quel sujet de discussion à tout moment.
      <br/>
      <br/>
      En tant qu’utilisateur, vous êtes d’accord sur le fait que toutes les informations que vous donnerez ci-après
      seront stockées dans une base de données. Cependant, ces informations ne seront divulguées à aucune tierce
      personne ou société sans votre accord.
      Le webmestre, l’administrateur, et les modérateurs ne peuvent pas être tenus pour responsables si une tentative de
      piratage informatique conduit à l’accès de ces données.
      <br/>
      <br/>
      ControverSciences utilise les cookies pour stocker des informations sur votre ordinateur.
      Ces cookies ne contiendront aucune information que vous aurez entré ci-après; ils servent uniquement à améliorer
      le confort d’utilisation.
      <br/>
      <br/>
      L’adresse e-mail est uniquement utilisée afin de confirmer les détails de votre enregistrement ainsi que votre mot
      de passe
      (et aussi pour vous envoyer un nouveau mot de passe dans le cas où vous l’oublieriez).
      <br/>
      <br/>
      En vous enregistrant, vous vous portez garant du fait d’être en accord avec le règlement ci-dessus et reconnaissez
      avoir lu et accepter les conditions generales d'utilisation.
    </div>
  </div>
</div>
</div>