<% provide(:title, "Conditions d'utilisation") %>
<div id="my-container" class="container-fluid">
<div class="col-xs-12 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Conditions d’utilisation</h4>
    </div>
    <div class="panel-body">
      <p>
      En vous enregistrant, vous reconnaissez avoir lu et vous acceptez les conditions generales d'utilisation de ControverSciences (dénommé “le portail” dans la suite).
      <br/>
      <br/>
      ControverSciences a fait le choix de la <b>licence Creatives Commons Attribution et Partage à l'identique</b> (<b>CC BY SA</b>), qui autorise la diffusion et la modification des œuvres originales sous deux conditions uniquement :
      <ul>
        <li>
          <b>Citer l'auteur et la source d'origine du document</b>
        </li>
        <li>
          <b>Les œuvres dérivées doivent elles aussi être diffusées sous la licence CC BY SA, assurant que l'œuvre dérivée soit elle aussi libre.</b>
        </li>
      </ul>
      <p>
      Vous acceptez que vos contributions soient distribuées sous une licence Creative Commons Attribution et Partage dans leur forme originale.
      <br/> <br/>
      Vous consentez à ne pas publier sur le portail des messages injurieux, obscènes, vulgaires, diffamatoires, menaçants, sexuels, ou tout autre message ne respectant pas les dispositions de la loi du 29 juillet 1881 sur la libeté de la presse, dans sa dernière version consolidée.
      <br/>
      La publication de tels messages pourra conduire à la suspension sans délai de votre compte utilisateur et à l’engagement de procédures judiciaires le cas échéant.
      Le portail est dédié au partage de références, d’analyses et de synthèses scientifiques au plus grand nombre.
      <b>Toute contribution ne répondant pas à ces objectifs sera supprimée sans délai.</b>
      <br/><br/>
      Les administrateurs, modérateurs, webmasters, etc. gardent toutes latitudes pour éditer, déplacer. vérouiller ou supprimer tout contenu présent sur le portail.
      Les administrateurs, modérateurs, webmasters, etc. ne sauraient être tenus responsables du contenu des contributions présentes sur le portail.
      <br/><br/>
      Vous acceptez que toutes les informations renseignées sur le portail (adresse e-mail, profil, etc.) puissent être stockées dans une base de données.
      Vous acceptez que ControverSciences utilise ces informations pour un usage exclusivement interne (statistiques sur les contributeurs, profils types, etc.).
      <b>ControverSciences s’engage à ne jamais diffuser ces informations à des personnes physiques ou morales sans votre accord.</b>
      <br/><br/>
      Vous acceptez l’utilisation de cookies sur le portail. Ces cookies ne contiennent aucune information personnelle.
      </p>
      <br/><br/>
    </div>
  </div>
</div>
</div>