<% provide(:title, "Aide") %>

<div class="col-xs-12 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Conditions d'utilisation</h4>
    </div>
    <div class="panel-body">
        <p>
          Ouppps, on ne les a pas encore rédigé...
        </p>
    </div>
  </div>
</div>