<% provide(:title, "Voronoi") %>

<%= javascript_include_tag 'voronoi.js' %>

<script id="script" type="text/javascript">

    var palettess = [
        ["#F9ED69", "#F08A5D", "#B83B5E", "#6A2C70"],
        ["#222831", "#393E46", "#00ADB5", "#EEEEEE"],
        ["#2B2E4A", "#E84545", "#903749", "#53354A"],
        ["#48466D", "#3D84A8", "#46CDCF", "#ABEDD8"],
        ["#56BFB5", "#38817A", "#F5F093", "#FBD66F"],
        ["#2D4059", "#EA5455", "#F07B3F", "#FFD460"],
        ["#EB586F", "#D8E9F0", "#4AA0D5", "#454553"],
        ["#F0F5F9", "#C9D6DF", "#52616B", "#1E2022"],
        ["#FF5335", "#DFE0D4", "#3E92A3", "#353940"],
        ["#0C2233", "#065471", "#f5c767", "#ffa056"],
        ["#EEFCA9", "#B7E576", "#83CC61", "#5A9E7C"],
        ["#384137", "#406661", "#3BB873", "#94ED88"],
        ["#081F37", "#5FC9F3", "#2E79BA", "#1E549F"],
        ["#FF6464", "#FFBD67", "#F8FE85", "#5BE7A9"],
        ["#EB2A5D", "#FF6F41", "#FFB44B", "#FFEB7D"],
        ["#1A2634", "#203E5F", "#EEC550", "#F9E3A3"],
        ["#F35F5F", "#CC435F", "#F1EA65", "#36A3EB"],
        ["#FF9234", "#FFCD3C", "#FAFCB4", "#B0DB72"],
        ["#2C5460", "#BBDC2F", "#61B136", "#CBE0E0"],
        ["#1B4B4D", "#F3F66F", "#F1D15F", "#E8984A"],
        ["#422B72", "#266D98", "#3CB29A", "#C4F080"],
        ["#FFE0A3", "#E18237", "#943939", "#6A2634"],
        ["#D93153", "#EB5033", "#FF9D00", "#FFD82C"],
        ["#FDFBDA", "#D3D0A8", "#819F7F", "#2D4659"],
        ["#FBE0D8", "#4D727E", "#283644", "#7A6552"],
        ["#433751", "#2F576E", "#748B9C", "#F0E3E3"],
        ["#FEED30", "#FF6868", "#924992", "#504077"],
        ["#5D697A", "#383838", "#F66B34", "#F2D639"],
        ["#FFFBE3", "#FFA9A9", "#6A425C", "#26271A"],
        ["#217756", "#63B75D", "#B0D553", "#FCED25"],
        ["#FADB3F", "#ECF7C5", "#EA5656", "#27332D"],
        ["#FDF3F3", "#F8E7E7", "#A070A1", "#724060"]
    ];

    var x0 = 0, y0 = 0, r = 0, teta = 0, data = [], a = Math.random() * 30 + 1, b = Math.random() * 2.6 + 1.5, c = Math.floor((Math.random() * 2)) * 2 - 1;
    for (i = 0; i < 50; i++) {
        r = r + a;
        teta = teta + b * c;
        x = r * Math.cos(teta) + x0;
        y = r * Math.sin(teta) + y0;
        data.push([x, y])
    }

    var VoronoiDemo = {
        voronoi: new Voronoi(),
        sites: [],
        diagram: null,
        margin: 100,
        canvas: null,
        bbox: {xl: 0, xr: 800, yt: 0, yb: 800},

        init: function () {
            var me = this;
            this.canvas = document.getElementById('voronoiCanvas');
            this.canvas.onclick = function (e) {
                me.randomSites(1, false);
                me.render();
            };
            this.randomSites(10, true);
            this.render();
        },

        clearSites: function () {
            // we want at least one site, the one tracking the mouse
            this.sites = [];
            this.diagram = this.voronoi.compute(this.sites, this.bbox);
        },

        randomSites: function (n, clear) {
            if (clear) {
                this.sites = [];
            }
            var xo = this.margin;
            var dx = this.canvas.width - this.margin * 2;
            var yo = this.margin;
            var dy = this.canvas.height - this.margin * 2;
            var palette = palettess[Math.floor((Math.random() * palettess.length))];
            for (var i = 0; i < data.length; i++) {
                this.addSite(self.Math.round(xo + (data[i][0] + r) / (2 * r) * dx),
                        self.Math.round(yo + (data[i][1] + r) / (2 * r) * dy), palette);
            }
        },

        addSite: function (x, y, palette) {
            var sites = this.sites.slice(0);
            sites.push({x: x, y: y});
            var diagram = this.voronoi.compute(sites, this.bbox);
            var site = sites[sites.length - 1];
            var neighbors = diagram.cells[site.voronoiId].getNeighborIds();
            if (neighbors.length < 4) {
                var excludePalette = palette.slice(0), nNeighbors = neighbors.length;
                while (nNeighbors--) {
                    var cell = diagram.cells[neighbors[nNeighbors]];
                    if (cell) {
                        excludePalette = $(excludePalette).filter(function (idx) {
                            return excludePalette[idx] != cell.site.color;
                        });
                    }
                }
                var color = excludePalette[Math.floor((Math.random() * excludePalette.length))];
                this.sites.push({x: x, y: y, color: color});
            }
            this.diagram = this.voronoi.compute(this.sites, this.bbox);
        },

        render: function () {
            var ctx = this.canvas.getContext('2d');
            var mask = new Image();
            var self = this;
            mask.crossOrigin = "anonymous";
            mask.src = "<%= path_to_image "clipping/frog.png" %>";
            mask.onload = function () {
                ctx.drawImage(mask, 0, 0, 800, 800);
                ctx.globalCompositeOperation = 'source-atop';
                // background
                ctx.globalAlpha = 1;
                ctx.beginPath();
                ctx.rect(0, 0, self.canvas.width, self.canvas.height);
                ctx.fillStyle = '#fff';
                ctx.fill();
                ctx.strokeStyle = '#000';
                ctx.stroke();
                // voronoi
                if (!self.diagram) {
                    return;
                }
                ctx.strokeStyle = '#000';
                // edges
                var edges = self.diagram.edges,
                        nEdges = edges.length,
                        v;
                if (nEdges) {
                    var edge;
                    ctx.beginPath();
                    while (nEdges--) {
                        edge = edges[nEdges];
                        v = edge.va;
                        ctx.moveTo(v.x, v.y);
                        v = edge.vb;
                        ctx.lineTo(v.x, v.y);
                    }
                    ctx.stroke();
                }
                // highlight cell under mouse
                var sites = self.sites, cell,
                        nSites = sites.length;
                if (!nSites) {
                    return;
                }
                while (nSites--) {
                    site = sites[nSites];
                    cell = self.diagram.cells[site.voronoiId];
                    if (cell) {
                        var halfedges = cell.halfedges,
                                nHalfedges = halfedges.length;
                        if (nHalfedges > 0) {
                            v = halfedges[0].getStartpoint();
                            ctx.beginPath();
                            ctx.moveTo(v.x, v.y);
                            for (var iHalfedge = 0; iHalfedge < nHalfedges; iHalfedge++) {
                                v = halfedges[iHalfedge].getEndpoint();
                                ctx.lineTo(v.x, v.y);
                            }
                            ctx.fillStyle = site.color;
                            ctx.fill();
                        }
                    }
                }
                ctx.fill();
            };

        }
    };
    $(document).ready(function () {
        VoronoiDemo.init();
    });
</script>

<div id="my-container" class="container-fluid">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-offset-1">

          <div>

            <div id="divroot" style="width:800px;">
              <h4 class="divhdr">Sites generator</h4>

              <div class="divinfo" id="voronoiGenerator">
                <input type="button" value="Generate" onclick="VoronoiDemo.randomSites(parseInt(document.getElementById('voronoiNumberSites').value,5),true);VoronoiDemo.render();"/>
                <br>
              </div>
              <h4 class="divhdr">Canvas</h4>

              <div id="canvasParent">
                <noscript>You need to enable Javascript in your browser for this page to display properly.</noscript>
                <canvas id="voronoiCanvas" style="cursor:crosshair" width="800" height="800"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>