<% provide(:title, "Alzheimer ?") %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Mot de passe oublié</h3>
      </div>
      <div class="panel-body">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>

            <%= f.button "Soumettre &nbsp <span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span>".html_safe,
                         class: 'pull-right btn btn-success',
                         data: {disable_with: "<span class=\"glyphicon glyphicon-send\" aria-hidden=\"true\"></span> &nbsp Envoi en cours "}%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>