<tr class="melioration">
  <td><%= link_to melioration.user.name, melioration.user %></td>
  <td><%= link_to melioration.comment.timeline.name, melioration.comment.timeline %> </td>
  <td><%= link_to melioration.comment.reference.title, melioration.comment.reference %> </td>
  <td><%= link_to melioration.message, melioration %>  </td>
</tr>
