<% provide(:title, 'Mes suggestions') %>
<h2> Mes suggestions aux autres contributeurs</h2>

<table class='table table-hover' id='meliorations'>
  <thead>
  <tr>
    <th class="col-sm-1"> Vu / Accepté </th>
    <th class="col-sm-1"> Pour </th>
    <th class="col-sm-2"> Controverse </th>
    <th class="col-sm-3"> Reference </th>
    <th class="col-sm-5"> Message </th>
  </tr>
  </thead>

  <tbody class="page">
  <%= render @meliorations, mine: true %>
  </tbody>
</table>

<br>

<%= paginate @meliorations %>

