<h1>ControverSciences</h1>

<p>Bonjour <%= @user.name %>,</p>

<p>
Bienvenue sur ControverSciences, il ne vous reste plus qu'à cliquer sur le lien suivant pour commencer à contribuer au projet et éclairer le monde de votre connaissance:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
