<h1>Réinitialisation de mot de passe</h1>

<p>Cliquer sur le lien suivant afin de réinitialiser votre mot de passe :</p>

<%= link_to "Réinitialiser le mot de passe",
            edit_password_reset_url(@user.reset_token,
                                    email: @user.email) %>

<p>Ce lien rendra l'âme dans 48 heures.</p>

<p>
  Si vous n'avez pas fait de demande de réinitialisation de mot de passe, désolé pour le contre temps. Vous pouvez ignorer ce message
  et continuer à trier vos mails, votre mot de passe restera tel quel.
</p>
