<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
    <%= render 'layouts/panel' %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <% if @comments.any? %>
        <ol class="comments">
        <%= render @comments, vote: false %>
        </ol>
        <%= paginate @comments %>
    <% else %>
          <%= link_to "<span class=\"glyphicon glyphicon-plus\" >
        </span> Il n'y a pas d'analyse, soyez le premier ! ".html_safe,
                      new_comment_path %>
    <% end %>
    </div>
</div>
