<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      La meilleur analyse du moment est :
      <ol class="comments">
        <%= render @best_comment, fork: true %>
      </ol>
    </div>
  </div>
  <ol class="comments">
    <%= render @comment, fork: true %>
  </ol>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      Avec les bébé :
      <ol class="comments">
        <%= render @comment.children, fork: true %>
      </ol>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      Avec les bébé :
      <ol class="comments">
        <%= render @comment.parent, fork: true %>
      </ol>
    </div>
  </div>
</div>