<p><strong>Annexes</strong></p>
<p lang="en-US"><strong>Annexe 1 - L&rsquo;importance de l&rsquo;&eacute;chelle r&eacute;gionale</strong></p>
<p style="text-align: justify;">La transition soci&eacute;tale et &eacute;cologique doit prendre une dimension r&eacute;gionale d&eacute;terminante&nbsp;: sources de donn&eacute;es, monitoring, &eacute;valuation, gestion, bonnes pratiques. Elle implique des innovations sociales et technologiques permanentes et mobilise des acteurs locaux bien identifi&eacute;s.</p>
<p style="text-align: justify;">Les ressources naturelles ont tout &agrave; la fois un impact &eacute;conomique, financier, environnemental et culturel. Par cons&eacute;quent, elles sont susceptibles de &laquo; parler &raquo; plus directement &agrave; la soci&eacute;t&eacute; et aux individus, non seulement en termes de gestion du stock, de flux et d'empreinte carbone, mais aussi en termes socio-culturels et de d&eacute;marche &eacute;co-citoyenne &agrave; travers les r&eacute;seaux et les liens sociaux / soci&eacute;taux. Par exemple, les strat&eacute;gies, les politiques agricoles les plus efficaces sont celles qui sont con&ccedil;ues et g&eacute;r&eacute;es &agrave; l'&eacute;chelon r&eacute;gional. Elles se doivent d&rsquo;&ecirc;tre au c&oelig;ur des syst&egrave;mes int&eacute;gr&eacute;s d&rsquo;une &eacute;conomie circulaire et de proximit&eacute;, une des premi&egrave;res conditions d&rsquo;une transition &eacute;cologique cr&eacute;dible.</p>
<p lang="en-US" style="text-align: justify;">Les repr&eacute;sentations spatio-temporelles des ressources r&eacute;gionales, de leur &eacute;tat et de leur dynamique (par ex., par leur monitoring en terme de d&eacute;ficit, &eacute;quilibre ou r&eacute;serve &eacute;cologique et traduit / transpos&eacute; en terme de dette, &eacute;quilibre ou b&eacute;n&eacute;fice socio-environnemental, et donc de risques; Weber 2007 et 2011) ont forc&eacute;ment un sens territorial concret (politique, &eacute;conomique, soci&eacute;tal). Elles compl&egrave;tent et clarifient des donn&eacute;es globales v&eacute;hicul&eacute;es par les m&eacute;dias et les travaux des scientifiques. Le cadrage r&eacute;gional permettra donc de concevoir des solutions adapt&eacute;es aux sp&eacute;cificit&eacute;s locales, et facilitera le partage des responsabilit&eacute;s entre les diff&eacute;rentes parties prenantes (notamment les d&eacute;cideurs politiques, &eacute;conomiques ou scientifiques) pour ce qui touche &agrave; l'&eacute;quation alimentation-sant&eacute;-environnement-culture et &agrave; ses liens intimes avec l'agriculture-sol-eau-&eacute;nergie, l'urbanisation, les pr&eacute;occupations d&eacute;mographique et la pauvret&eacute;<em>.</em></p>
<p style="text-align: justify;">Une convergence d'&eacute;l&eacute;ments indique qu&rsquo;un pouvoir de d&eacute;cision accru doit revenir &agrave; l'&eacute;chelon r&eacute;gional. L'UE a d'ailleurs identifi&eacute; le maillage politique r&eacute;gional &agrave; travers l'Europe sur une vari&eacute;t&eacute; de questions li&eacute;es au d&eacute;veloppement. Par exemple, dans chaque r&eacute;gion, les villes ont besoin de politiques adapt&eacute;es et articul&eacute;es qui puissent prendre en consid&eacute;ration les typologies sous-r&eacute;gionales des ressources et autres biens communs.</p>
<p lang="en-US" style="text-align: justify;"><strong>Les acteurs de la r&eacute;gion R&eacute;gion </strong><em><strong>Rh&ocirc;ne</strong></em><strong>-Alpes</strong> ont &eacute;t&eacute; identifi&eacute;s &agrave; partir de l'organisation interne des services de la R&eacute;gion, calqu&eacute;e sur les missions et les comp&eacute;tences de l'Institution. Ainsi, six p&ocirc;les (Ressources, Vivre ensemble, Vie lyc&eacute;enne, Formation tout au long de la vie, &eacute;conomie et emploi, Transports et environnement, D&eacute;veloppement des territoires) regroupent 22 directions (des lyc&eacute;es, des transports...) elles-m&ecirc;mes divis&eacute;es en services. Ce sont ces directions qui assurent l'application concr&egrave;te des d&eacute;cisions des conseillers r&eacute;gionaux.</p>
<p lang="en-US" style="text-align: justify;">Organigramme RA et recherche de missions et services&nbsp;: <a href="http://www.rhonealpes.fr/86-services-conseil-regional.htm">http://www.rhonealpes.fr/86-services-conseil-regional.htm</a></p>
<p style="text-align: justify;">1. Missions transversales (DGMTRE)&nbsp;:</p>
<p style="text-align: justify;">- D&eacute;veloppement Durable, &eacute;valuation et prospective</p>
<p style="text-align: justify;">- d&eacute;mocratie participative, lutte contre discriminations, &eacute;galit&eacute; H-F</p>
<p style="text-align: justify;">2. Finance, budget, contr&ocirc;le (DFBCG)</p>
<p style="text-align: justify;">3. Affaires juridiques et commande publique (DAJCP)</p>
<p style="text-align: justify;">4. Syst&egrave;me information (DSI)</p>
<p style="text-align: justify;">5. D&eacute;veloppement &eacute;conomique et emploi (2D2E)</p>
<p style="text-align: justify;">6. Enseignement sup&eacute;rieur, recherche, innovation, formation&nbsp;: DEFI3S</p>
<p style="text-align: justify;">7. Climat, Environnement, sant&eacute;, &eacute;nergie (DCESE)</p>
<p style="text-align: justify;">8. Transports (DT)</p>
<p style="text-align: justify;">9. Agriculture et D&eacute;veloppement Rural (DADR)</p>
<p lang="en-US" style="text-align: justify;">10. Politique territoriales, tourisme, montagne et parcs (DPT + DTMP).</p>
<p style="text-align: justify;"><strong>Annexe 2 &ndash; Les propositions des &eacute;tudiants</strong></p>
<p style="text-align: justify;">Les propositions ci-apr&egrave;s ont &eacute;t&eacute; formul&eacute;es par les &eacute;tudiants et pr&eacute;sent&eacute;es comme sujet d&rsquo;examen en janvier 2015. Les grandes lignes de ces propositions peuvent &ecirc;tre r&eacute;sum&eacute;es ainsi&nbsp;:</p>
<ul style="text-align: justify;">
    <li>
        <p>difficult&eacute; &agrave; identifier une d&eacute;marche politique fond&eacute;e sur la transversalit&eacute; et l&rsquo;expression claire des valeurs mises au service de la soci&eacute;t&eacute; en transition&nbsp;;</p>
    </li>
    <li>
        <p lang="en-US">n&eacute;cessit&eacute; de stimuler le d&eacute;bat public pour donner du sens &agrave; l&rsquo;action politique et &agrave; la transition en particulier, i.e., &laquo;&nbsp;la transition des esprits&nbsp;&raquo;&nbsp;;</p>
    </li>
    <li>
        <p>n&eacute;cessit&eacute; de cultiver une opinion publique et une d&eacute;mocratie participative pour palier &agrave; la r&eacute;tention politique (retard, &eacute;chelle) des solutions &laquo;&nbsp;durables&nbsp;&raquo; existantes&nbsp;;</p>
    </li>
    <li>
        <p>urgence de penser les biens communs, avec priorit&eacute; sur l&rsquo;am&eacute;nagement du territoire&nbsp;;</p>
    </li>
    <li>
        <p lang="en-US">besoin de former les acteurs d&egrave;s le d&eacute;part dans un esprit &laquo;&nbsp;<em>evidence-based d&eacute;cision making&nbsp;</em>&raquo;&nbsp;;</p>
    </li>
    <li>
        <p>anticiper et d&eacute;velopper la p&eacute;dagogie de la transition pour un d&eacute;veloppement &eacute;thique inspir&eacute;e par les jeux &laquo;&nbsp;pollueur-payeur&nbsp;&raquo;&nbsp;.</p>
    </li>
</ul>
<table width="634" cellspacing="0" cellpadding="7"><colgroup><col width="155" /> <col width="449" /> </colgroup>
    <tbody>
    <tr>
        <td width="155">
            <p><strong>Nom</strong></p>
        </td>
        <td width="449">
            <p><strong>Solutions</strong></p>
        </td>
    </tr>
    <tr>
        <td width="155">&nbsp;</td>
        <td width="449">
            <p><strong>Transition au niveau r&eacute;gional (le local)</strong></p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Chapus Fleur</p>
        </td>
        <td width="449">
            <p lang="en-US">Assembl&eacute;e des citoyens pour optimiser le travail du Conseil R&eacute;gional et du CESER, avec initiative pour de referendum r&eacute;gional</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Moro Joanna</p>
        </td>
        <td width="449">
            <p>Conf&eacute;rences-d&eacute;bats citoyens plus fr&eacute;quentes et r&eacute;f&eacute;rendum r&eacute;gional</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Grenier Th&eacute;odore</p>
        </td>
        <td width="449">
            <p>Optimiser les partenariats public-priv&eacute;</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Tariel Juliette</p>
        </td>
        <td width="449">
            <p lang="en-US">Entreprises de l&rsquo;environnement &ndash; partenariat pour une &eacute;conomie circulaire et la sobri&eacute;t&eacute; de l&rsquo;utilisation des ressources</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Barberis Louise</p>
        </td>
        <td width="449">
            <p>Ecole&nbsp;: apprentissage et gestion de projets participatifs</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Baptista Marilia</p>
        </td>
        <td width="449">
            <p>Ecole&nbsp;: les gestes citoyens de chacun</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Pontier Garance</p>
        </td>
        <td width="449">
            <p>Les choix technologiques&nbsp;: associer citoyens et politiques autour des valeurs partag&eacute;es</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Chanier Timoth&eacute;e</p>
        </td>
        <td width="449">
            <p>D&eacute;marches pluridisciplinaires de la transition et certification des acteurs</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Tourte Maxime</p>
        </td>
        <td width="449">
            <p>Prise en compte accrue de la recherche universitaire et formation des d&eacute;cideurs (certification &laquo;&nbsp;transition&nbsp;&raquo;)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Felten Julien</p>
        </td>
        <td width="449">
            <p>Education et mise en place d&rsquo;un droit int&eacute;gr&eacute; de l&rsquo;environnement</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Marciau Coline</p>
        </td>
        <td width="449">
            <p>Casser l&rsquo;opposition &eacute;conomie-&eacute;cologie et d&eacute;velopper la culture participative</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Guerringue Yannick</p>
        </td>
        <td width="449">
            <p>Les&nbsp;solutions de la transition existent: les mettre en place maintenant et &agrave; grande &eacute;chelle.</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Jagot Ferdinant</p>
        </td>
        <td width="449">
            <p>Donner une place centrale &agrave; l&rsquo;agriculture dans la transition&nbsp;: taxe C, redevances, &eacute;co-conditionnalit&eacute;</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Benmamar-Badel Anouk</p>
        </td>
        <td width="449">
            <p>Coh&eacute;rente gestion des donn&eacute;es r&eacute;gionales pour une information / communication efficace et mise en synergie des acteurs</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Eberhardt Ana&iuml;s</p>
        </td>
        <td width="449">
            <p>Assumer la transition &agrave; grande &eacute;chelle en RA et impulser le protocole de Milan 2015</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Noack Lise</p>
        </td>
        <td width="449">
            <p>Densifier les centres p&eacute;riurbains existants</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Perrin Marion</p>
        </td>
        <td width="449">
            <p>D&eacute;politiser les d&eacute;cisions pour les politiques incitatives de l&rsquo;habitat urbain et des transports.</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Boulkrout Khaoula</p>
        </td>
        <td width="449">
            <p>Utiliser pleinement le potentiel de transversalit&eacute; port&eacute; par la transition &eacute;nerg&eacute;tique</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Bensalah Nesma</p>
        </td>
        <td width="449">
            <p>Passer &agrave; une &eacute;chelle sup&eacute;rieure pour des projets de type Rh&ocirc;ne-Median, en particulier en estimant et en anticipant les besoins en formation</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Galipot Pierre</p>
        </td>
        <td width="449">
            <p>Penser l&rsquo;industrie comme &eacute;cosyst&egrave;me et r&eacute;aliser la mutation du syst&egrave;me de formation correspondant</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Charly Jarrot</p>
        </td>
        <td width="449">
            <p>ESS avec un espace r&eacute;gional de dialogue et des dispositifs d&rsquo;accompagnement</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Brun P-G</p>
        </td>
        <td width="449">
            <p>Pollueur-payeur&nbsp;: convaincre via l&rsquo;&eacute;cologie et l&rsquo;accompagnement</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Chass&eacute; Pierre</p>
        </td>
        <td width="449">
            <p>Des objectifs ambitieux&nbsp;: &eacute;ducation, r&eacute;glementation, communication (ex le r&eacute;sidentiel)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Banc-Prandhi Guilhem</p>
        </td>
        <td width="449">
            <p>R&eacute;former en profondeur le syst&egrave;me de subventions (secteurs primaires, &eacute;co-conditionnalit&eacute;)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Godino Arthur</p>
        </td>
        <td width="449">
            <p>Gestion durable de la commande publique</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Lacombe P&eacute;n&eacute;lope</p>
        </td>
        <td width="449">
            <p>R&egrave;glementer la production et la gestion des donn&eacute;es</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Sohier Thibault</p>
        </td>
        <td width="449">
            <p>Favoriser le crowdsourcing</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Jardine Jane</p>
        </td>
        <td width="449">
            <p>La sobri&eacute;t&eacute; en passant par l&rsquo;&eacute;ducation et les arts</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Weinbach Avril</p>
        </td>
        <td width="449">
            <p>Les choix de soci&eacute;t&eacute; en faisant converger les valeurs des acteurs</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Khalife Adam</p>
        </td>
        <td width="449">
            <p>Banques coop&eacute;ratives et crowdfunding</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Pantecouteau Hugo</p>
        </td>
        <td width="449">
            <p>Des d&eacute;marches &laquo;&nbsp;Alternatiba&nbsp;&raquo; comme vecteurs de changement</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Jacquier Lauren</p>
        </td>
        <td width="449">
            <p>Solutions graduelles, justes, raisonnables, r&eacute;alisables</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Masson R&eacute;my</p>
        </td>
        <td width="449">
            <p>R&eacute;silience par une &eacute;conomie locale et meilleure communication des d&eacute;cideurs politiques</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Bannier Marie</p>
        </td>
        <td width="449">
            <p>Mobiliser la participation des foyers et assurer l&rsquo;essaimage de l&rsquo;exp&eacute;rience BioVall&eacute;e</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Breton Marie</p>
        </td>
        <td width="449">
            <p>Des territoires &ndash;&eacute;cole par une approche globale, inclusive</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Ribouleau Gaylord</p>
        </td>
        <td width="449">
            <p>D&eacute;velopper les PVC et pr&eacute;voir leur place dans les plans d&rsquo;urbanisme</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Taki Am&eacute;lie</p>
        </td>
        <td width="449">
            <p>Label &laquo;&nbsp;circuit court&nbsp;&raquo; et initiative O&rsquo;Tera doubl&eacute;s de p&eacute;dagogie</p>
        </td>
    </tr>
    <tr>
        <td width="155">&nbsp;</td>
        <td width="449">
            <p><strong>Les liens avec la gouvernance globale</strong></p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Bonnaventure Boris</p>
        </td>
        <td width="449">
            <p>Consommation responsable / durable des ressources&nbsp;: marques et labels locaux</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Duisembekova Assem</p>
        </td>
        <td width="449">
            <p>Collective Learning initiatives (Transition Towns, Alternatiba) and research programs on social innovations</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Botta Caroline</p>
        </td>
        <td width="449">
            <p>Renforcement des syst&egrave;mes l&eacute;gaux et des engagements des acteurs (bonnes pratiques)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Vienne Margot</p>
        </td>
        <td width="449">
            <p>Responsabilit&eacute; dans la diffusion des solutions holistiques via une &eacute;ducation culturellement diff&eacute;renci&eacute;e pays Nord/Sud</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Gaillard Corentin</p>
        </td>
        <td width="449">
            <p>Fond climat de l&rsquo;ONU&nbsp;: obligatoire, responsable, adaptatif afin de relier les initiatives climat-d&eacute;veloppement</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Blin Juliana</p>
        </td>
        <td width="449">
            <p>R&eacute;orienter radicalement le financement et la l&eacute;gislation (4R) (r&ocirc;le des labels)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Boumard Benjamin</p>
        </td>
        <td width="449">
            <p>Gouvernance contraignante dpv RSE (mesures anti-dumping, fiscalit&eacute; &eacute;cologique g&eacute;n&eacute;ralis&eacute;e, financement incitatif, suivi et &eacute;valuation des pratiques et de la gouvernance)</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Klamm Juliette</p>
        </td>
        <td width="449">
            <p>Am&eacute;liorer la qualit&eacute; de vie partout dans le monde par des actions int&eacute;gr&eacute;es localement et diffusion par les r&eacute;seaux sociaux</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Pralus Agathe</p>
        </td>
        <td width="449">
            <p>Partenariat gouvernement-soci&eacute;t&eacute; civile et contributions financi&egrave;res adapt&eacute;s &agrave; chaque pays</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Bucher Maxime</p>
        </td>
        <td width="449">
            <p>Sensibiliser et responsabiliser les consommateurs en utilisant l&rsquo;&eacute;tiquetage &laquo;&nbsp;empreinte C&nbsp;&raquo; g&eacute;n&eacute;ralis&eacute; et allouer un &laquo;&nbsp;stock&nbsp;&raquo; carbone /habitant</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Victor Girard</p>
        </td>
        <td width="449">
            <p>Economie et emplois verts visant la coh&eacute;sion et l&rsquo;int&eacute;gration sociales, le bien-&ecirc;tre et la protection des ressources</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Blain Salom&eacute;</p>
        </td>
        <td width="449">
            <p>Des mod&egrave;les et des strat&eacute;gies de d&eacute;veloppement pour les PVD non-calqu&eacute;s sur les pays OCDE</p>
        </td>
    </tr>
    <tr>
        <td width="155">
            <p>Liot Sophie</p>
        </td>
        <td width="449">
            <p>Int&eacute;gration des probl&egrave;mes climat aux n&eacute;gociations sur les objectifs de d&eacute;veloppement</p>
        </td>
    </tr>
    </tbody>
</table>
<p lang="en-US" style="text-align: justify;"><strong>Annexe 3 </strong>(v. aussi le dossier &laquo;&nbsp;Transition &eacute;cologique de l'&eacute;conomie, travail, in&eacute;galit&eacute;s&nbsp;&raquo;).</p>
<p lang="en-US" style="text-align: justify;">Les conseillers r&eacute;gionaux EELV pr&ocirc;nent une &eacute;conomie &eacute;cologique et sociale, &laquo;&nbsp;mais pas celle d&rsquo;une croissance aveugle qui cr&eacute;e des profits pour quelques-uns et de la rigueur pour tous les autres. Pas celle qui co&ucirc;te a` la collectivit&eacute; sans jamais s&rsquo;engager en termes de cr&eacute;ations d&rsquo;emplois ou d&rsquo;utilit&eacute; sociale &raquo;. Ceci passe par l'incitation &agrave; de nouvelles formes d'&eacute;conomie organis&eacute;es autour de six axes&nbsp;: stimuler l'&eacute;conomie sociale et solidaire, soutenir l'&eacute;conomie de proximit&eacute;, appuyer l'&eacute;conomie circulaire, d&eacute;velopper les circuits courts, faire &eacute;merger l'&eacute;conomie collaborative, orienter les entreprises vers l'utilit&eacute; sociale. Les &eacute;lus EELV prennent &eacute;galement acte des nombreux indicateurs montrant que la tendance est &agrave; l'aggravation des in&eacute;galit&eacute;s sociales ces derni&egrave;res ann&eacute;es en France. Les pauvres sont notamment de plus en plus pauvres. La transition &eacute;cologique ne pourra se faire que si l'ensemble de la population peut suivre.</p>
<p lang="en-US" style="text-align: justify;"><strong>Annexe 4 - Transformation </strong><strong>&Eacute;cologique</strong><strong> et Sociale de la R&eacute;gion</strong><em><strong> Nord-Pas-De-Calais &ndash; 4e ann&eacute;e d&rsquo;exp&eacute;rimentation</strong></em></p>
<p style="text-align: justify;">Sources</p>
<p lang="en-US" style="text-align: justify;"><a href="http://www.nordpasdecalais.fr/jcms/c_63631//la-transformation-ecologique-et-sociale-de-la-region?hlText=TESR">http://www.nordpasdecalais.fr/jcms/c_63631//la-transformation-ecologique-et-sociale-de-la-region?hlText=TESR</a></p>
<p style="text-align: justify;">et la Lettre d&rsquo;information RESR</p>
<p lang="en-US" style="text-align: justify;"><a href="http://www.nordpasdecalais.fr/jcms/c_111524//la-tesr-edite-sa-premiere-lettre-dinformation?hlText=TESR">http://www.nordpasdecalais.fr/jcms/c_111524//la-tesr-edite-sa-premiere-lettre-dinformation?hlText=TESR</a></p>
<p style="text-align: justify;"><em>Le Conseil r&eacute;gional a organis&eacute; en 2014 les&nbsp;quatri&egrave;mes assises de la transformation &eacute;cologique et sociale. Face aux limites graves du mod&egrave;le de d&eacute;veloppement actuel, la Transformation Ecologique et Sociale de la R&eacute;gion exp&eacute;rimente depuis 2011 une nouvelle fa&ccedil;on de concevoir et de conduire les politiques publiques r&eacute;gionales pour favoriser l&rsquo;&eacute;mergence d&rsquo;un mod&egrave;le de d&eacute;veloppement plus durable.</em></p>
<p style="text-align: justify;"><em>La TESR, c'est la mise en &oelig;uvre d'une autre fa&ccedil;on de produire du d&eacute;veloppement durable au travers de projets liant &eacute;troitement les questions environnementales, sociales, culturelles et &eacute;conomiques. Elle fonctionne comme un laboratoire d'exp&eacute;rimentations autour de projets d'envergure appel&eacute;s op&eacute;rations de d&eacute;veloppement.</em></p>
<p style="text-align: justify;"><em><strong>Les op&eacute;rations de d&eacute;veloppement : les m&eacute;thodes employ&eacute;es</strong></em></p>
<p style="text-align: justify;"><em>Chacune des op&eacute;rations r&eacute;pond &agrave; des enjeux qui lui sont propres.</em></p>
<p style="text-align: justify;"><em>Par contre, pour ce qui concerne la mise en &oelig;uvre, la d&eacute;marche employ&eacute;e pour les 9 op&eacute;rations de d&eacute;veloppement suit le m&ecirc;me cheminement.</em></p>
<p style="text-align: justify;"><em>Le but : r&eacute;pondre r&eacute;ellement aux enjeux identifi&eacute;s en s&rsquo;appuyant sur la contribution de chacun &agrave; l'instauration de nouvelles fa&ccedil;ons de faire, dans la perspective d&rsquo;un nouveau mod&egrave;le de d&eacute;veloppement.</em></p>
<p style="text-align: justify;"><em>Concr&egrave;tement, chaque op&eacute;ration de d&eacute;veloppement est conduite en respectant 4 jalons :</em></p>
<p style="text-align: justify;"><em>1. Partir d&rsquo;un enjeu majeur pour la r&eacute;gion correspondant &agrave; une opportunit&eacute; ou &agrave; une menace, cet enjeu ne s&rsquo;inscrit pas n&eacute;cessairement dans les champs de comp&eacute;tence de la R&eacute;gion.</em></p>
<p style="text-align: justify;"><em>2. Affiner et consolider l&rsquo;analyse autour de cet enjeu en partant des biens communs au c&oelig;ur de celui-ci n&eacute;cessaires aux activit&eacute;s humaines et &agrave; la qualit&eacute; de vie (ressources naturelles de qualit&eacute;, patrimoines, mais aussi qualit&eacute; des emplois par exemple&hellip;).</em></p>
<p style="text-align: justify;"><em>3. Construire des r&eacute;ponses collectives entre tous les acteurs concern&eacute;s par l'op&eacute;ration de d&eacute;veloppement (directement ou indirectement impact&eacute;s, de fa&ccedil;on positive ou non).</em></p>
<p style="text-align: justify;"><em>4. Structurer la coordination des acteurs, clarifier leurs engagements, rep&eacute;rer les compl&eacute;mentarit&eacute;s strat&eacute;giques, si besoin promouvoir des solutions nouvelles afin de faire &eacute;merger des solutions durables &agrave; la hauteur des enjeux.</em></p>
<p style="text-align: justify;"><em><strong>Une autre fa&ccedil;on de concevoir et conduire les politiques publiques</strong></em></p>
<p style="text-align: justify;"><em>Ces m&eacute;thodes bousculent certains principes et comportements. Fond&eacute;es sur la transversalit&eacute;, elles impliquent l'int&eacute;r&ecirc;t et la contribution de tous les acteurs concern&eacute;s par l'op&eacute;ration de d&eacute;veloppement. Elles obligent &agrave; rep&eacute;rer les compl&eacute;mentarit&eacute;s strat&eacute;giques et les interd&eacute;pendances entre acteurs.&nbsp;Concr&egrave;tement : il s&rsquo;agit de passer d'une logique de blocage/comp&eacute;tition &agrave; une logique de coop&eacute;ration/coproduction de solutions, int&eacute;grant un maximum de biens communs.</em></p>
<p style="text-align: justify;"><em>Elles bousculent les a priori et mettent en avant deux parti-pris :</em></p>
<p style="text-align: justify;"><em>- pas de probl&egrave;me sans solution ;</em></p>
<p lang="en-US" style="text-align: justify;"><em>- pas de postures d'acteurs, mais plut&ocirc;t une clarification des engagements des parties prenantes, pour faire &eacute;merger collectivement des solutions durables et les mettre en oeuvre</em>.</p>
<p lang="en-US" style="text-align: justify;"><strong>Annexe 5 - Am&eacute;nagement du territoire</strong></p>
<p lang="en-US" style="text-align: justify;"><em><strong>Intelligence territoriale : o&ugrave; es-tu&nbsp;?</strong></em> (extrait de Clappe <em>et al</em>, 2014)</p>
<p style="text-align: justify;"><em>La transition n&eacute;cessite des politiques territoriales assurant une coh&eacute;rence </em><em>aux niveaux local et global. Cette &laquo;&nbsp;intelligence territoriale&nbsp;&raquo; correspond aux processus permettant &laquo;&nbsp;d&rsquo;acqu&eacute;rir une meilleure connaissance du territoire&nbsp;&raquo;, &laquo;&nbsp;d&rsquo;agir de fa&ccedil;on pertinente et efficiente&nbsp;&raquo;, de &laquo;&nbsp;projeter, d&eacute;finir, animer et &eacute;valuer les politiques et les actions de d&eacute;veloppement territorial durable&nbsp;&raquo; et &laquo;&nbsp;de mieux ma&icirc;triser son d&eacute;veloppement&nbsp;&raquo; (</em><em><a href="http://www.collaboratif-info.fr/chronique/quest-ce-que-lintelligence">http://www.collaboratif-info.fr/chronique/quest-ce-que-lintelligence</a>-territoriale</em><em>). Il est &agrave; noter que &laquo;&nbsp;l&rsquo;appropriation des technologies de l&rsquo;information et de la communication, et de l&rsquo;information elle-m&ecirc;me, est une &eacute;tape indispensable&nbsp;&raquo;. Or, ce n&rsquo;est pas ce que l&rsquo;on observe&nbsp;: les villes autant que les campagnes d&eacute;veloppent des interactions globales, mondiales et g&eacute;n&eacute;ralis&eacute;es plut&ocirc;t que cibl&eacute;es et orient&eacute;es au niveau r&eacute;gional ou local (Seitzinger et al, 2012). De cette r&eacute;orientation de l&rsquo;utilisation territoriale d&eacute;coulent alors des probl&egrave;mes environnementaux, sociaux ou &eacute;conomiques (Seto et al, 2011), mais aussi g&eacute;opolitiques. L&rsquo;urbanisation acc&eacute;l&eacute;r&eacute;e du monde, doubl&eacute;e par la pauvret&eacute; (Ravillon, 2007), appara&icirc;t plut&ocirc;t comme une &laquo;&nbsp;bidonvillisation&nbsp;&raquo; du monde. Force est de constater que la dimension territoriale de la transition pose l&rsquo;un des probl&egrave;mes les plus critiques au d&eacute;veloppement durable, tel un talon d&rsquo;Achille</em><em>.</em></p>
<p lang="en-US" style="text-align: justify;">De l&rsquo;analyse effectu&eacute;e sur les acteurs en r&eacute;gion il r&eacute;sulte que le projet soci&eacute;tal et politique&nbsp;devrait rechercher la coh&eacute;rence et l&rsquo;ad&eacute;quation entre les sp&eacute;cificit&eacute;s territoriales et la coh&eacute;sion sociale. Reste &agrave; clarifier comment fonctionne la planification politique sur les questions d&rsquo;&eacute;conomie-environnement, urbain-rural, du m&eacute;tabolisme territorial et de l&rsquo;&eacute;conomie circulaire. Mais aussi comment sont g&eacute;r&eacute;s les conflits fonciers, comment s&rsquo;organise l&rsquo;expertise et l&rsquo;&eacute;valuation territoriale (m&eacute;thodes, transparence, etc) et qui requi&egrave;rent des approches pluri-discplinaires et multi-acteurs. &laquo;&nbsp;Villes en transition&nbsp;&raquo; et la restauration du Rh&ocirc;ne (v. aussi documentaire Arte, <em>La renaissance d&rsquo;un fleuve</em>, avec les laboratoires EVS et Lyon2 parmi les auteurs) sont des exemples qui montrent bien que l&rsquo;am&eacute;nagement du territoire est une m&eacute;ta-science et se doit d&rsquo;&ecirc;tre holistique. Les d&eacute;marches politiques ont donc besoin en permanence d&rsquo;un appui et d&rsquo;une expertise apport&eacute;s par des acteurs et des scientifiques&nbsp;; une alliance qui reste &agrave; construire.</p>
<p lang="en-US" style="text-align: justify;">Concernant le<em><strong> Sch&eacute;ma r&eacute;gional de coh&eacute;rence territoriale</strong></em>, nous avons tent&eacute; (1) d&rsquo;identifier les structures les plus &agrave; m&ecirc;me de jouer un r&ocirc;le dans l&rsquo;am&eacute;nagement du territoire et (2) de sch&eacute;matiser l&rsquo;agencement possible de ces structures. Le travail r&eacute;alis&eacute; est esquiss&eacute; dans la Figure ci-apr&egrave;s. Il demande &agrave; &ecirc;tre compl&eacute;t&eacute; et d&eacute;battu, car il n&rsquo;a pas encore permis de d&eacute;celer et de classer les redondances et les gaps de cette organisation. Reste &eacute;galement &agrave; identifier les espaces de coordination, d&rsquo;articulation de la politique territoriale en Rh&ocirc;ne-Alpes qui gravitent autour de trois structures&nbsp;: DREAL, Conseil r&eacute;gional, ADEME.</p>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag "ra-annexe-4.png", class: "img-responsive" %>
  </div>
</div>
<p lang="en-US" style="text-align: justify;"><strong>Plans&nbsp;/ Projets</strong>: PPA, ScoT, PLU(i), PADD, PDIE</p>
<p style="text-align: justify;"><em><strong>L&eacute;gende</strong></em></p>
<p style="text-align: justify;">ADEME (Agence de l'Environnement et de la Ma&icirc;trise de l&rsquo;&Eacute;nergie)</p>
<p style="text-align: justify;">CEN (Conservatoire des Espace Naturels)</p>
<p style="text-align: justify;">DREAL (Direction R&eacute;gionale de l'Environnement, de l'Am&eacute;nagement et du Logement)</p>
<p style="text-align: justify;">DTA (Directive Territoriale d'Am&eacute;nagement&nbsp;; document de planification et d&rsquo;am&eacute;nagement approuv&eacute; par le Conseil d&rsquo;&Eacute;tat)</p>
<p style="text-align: justify;">EPCI (Les bases de donn&eacute;es annuelles par commune). Cartographie et statistiques. Ex&nbsp;: Mai 2015. Portrait cartographique et statistique de la nouvelle r&eacute;gion Auvergne-Rh&ocirc;ne-Alpes&nbsp;; Mai 2015. Nouvelles d&eacute;limitations de zones Natura 2000.</p>
<p style="text-align: justify;">PADD (Projet d'Am&eacute;nagement et de D&eacute;veloppement Durable)</p>
<p lang="en-US" style="text-align: justify;">Parcs naturels r&eacute;gionaux</p>
<p lang="en-US" style="text-align: justify;">PDIE (Plans de d&eacute;placement inter-entreprises)</p>
<p style="text-align: justify;">PLH (Programme local de l&rsquo;habitat)</p>
<p style="text-align: justify;">PLU (Programme local d&rsquo;urbanisme)</p>
<p style="text-align: justify;">PLUi (Plans Locaux d'Urbanisme Intercommunaux, adoption de la loi ALUR du 24 mars 2014&nbsp;; coop&eacute;ration intercommunale)</p>
<p style="text-align: justify;">PPA (Plans de Protection de l'Atmosph&egrave;re)</p>
<p style="text-align: justify;">RERA (le r&eacute;seau &eacute;cologique de Rh&ocirc;ne-Alpes&nbsp;; &eacute;tude lanc&eacute;e en 2006 par le Conseil r&eacute;gional et finalis&eacute; en mars 2009 (actualisation en 2010). Cartographie au 1/100.000e des connectivit&eacute;s &eacute;cologiques potentielles de Rh&ocirc;ne-Alpes,</p>
<p style="text-align: justify;">SCAP (Strat&eacute;gie de Cr&eacute;ation des Aires Prot&eacute;g&eacute;es)</p>
<p style="text-align: justify;">SCoT (Sch&eacute;ma de Coh&eacute;rence Territoriale). Appel &agrave; projets SCoT ruraux 2015</p>
<p style="text-align: justify;">SRCAE (Sch&eacute;ma r&eacute;gional climat air &eacute;nergie Rh&ocirc;ne-Alpes)</p>
<p style="text-align: justify;">SRCE (Sch&eacute;ma r&eacute;gional de coh&eacute;rence &eacute;cologique), arr&ecirc;t&eacute; le 18 juillet 2013</p>
<p style="text-align: justify;">TVB (Trame verte et bleue)</p>
<p style="text-align: justify;">urbA3 (r&eacute;seau des 3 agences d'urbanismes de Rh&ocirc;ne-Alpes et l' Insee, la m&eacute;tropolisation des territoires de la r&eacute;gion).</p>
<p lang="en-US" style="text-align: justify;">L&rsquo;<strong>ADEME </strong>se consacre &agrave; la <em>mise en &oelig;uvre des politiques publiques dans les domaines de l'environnement, de l'&eacute;nergie et du d&eacute;veloppement durable&nbsp;; avec les &eacute;tablissements et services de l&rsquo;&Eacute;tat en r&eacute;gion ainsi que le conseil r&eacute;gional Rh&ocirc;ne-Alpes</em>.</p>
<p lang="en-US" style="text-align: justify;">Le <strong>SRCE</strong> est &eacute;labor&eacute; conjointement par l'Etat (DREAL) et la R&eacute;gion, avec l'assistance technique du r&eacute;seau des agences d'urbanisme de Rh&ocirc;ne-Alpes (URBA3)</p>
<p lang="en-US" style="text-align: justify;">Les <strong>DTA</strong>, <em>approuv&eacute;es par d&eacute;cret en conseil d&rsquo;Etat, s&rsquo;imposent aux documents d&rsquo;urbanisme dans un rapport qualifi&eacute; de &laquo; compatibilit&eacute; limit&eacute;e &raquo;. Elles imposent aux documents qui leur sont imm&eacute;diatement inf&eacute;rieurs : les sch&eacute;mas de coh&eacute;rence territoriale (SCoT) et les sch&eacute;mas de secteur, et ne s&rsquo;imposent aux plans locaux d&rsquo;urbanisme (PLU), aux cartes communales et aux documents en tenant lieu qu&rsquo;en l&rsquo;absence de SCoT ou de sch&eacute;mas de secteurs. Lorsqu&rsquo;elles pr&eacute;cisent les modalit&eacute;s d&rsquo;application des dispositions particuli&egrave;res aux zones de montagne et au littoral, les DTA sont en outre opposables aux autorisations d&rsquo;urbanisme.</em></p>
<p lang="en-US" style="text-align: justify;">Int&eacute;ressant de constater que l&rsquo;on trouve des explications (avec des sch&eacute;mas synth&eacute;tiques, pp 199-202) et des r&eacute;ponses &agrave; certaines interrogations sur la coh&eacute;rence politique et op&eacute;rationnelle de l&rsquo;am&eacute;nagement du territoire dans le guide du technicien territorial (2015).</p>
<p style="text-align: justify;">R&eacute;f&eacute;rences</p>
<p lang="en-US" style="text-align: justify;">Guide du technicien territorial 2015, <em>Concours technicien territorial et technicien principal</em> de la fonction publique (cat&eacute;gorie B) https://books.google.fr/books?id=8-7KBgAAQBAJ&amp;pg=PA200&amp;lpg=PA200&amp;dq=padd+rhone+alpes&amp;source=bl&amp;ots=4pct_A-GT-&amp;sig=ppcSWBaOSLWXzcUt3O8XrKDmAnE&amp;hl=en&amp;sa=X&amp;redir_esc=y#v=onepage&amp;q&amp;f=false</p>
<p lang="en-US" style="text-align: justify;">Ravallion M., 2007, &ldquo;Urban Poverty&rdquo;, <em>Finance &amp; Development</em> 44/3, 15-17; <a href="http://www.imf.org/external/pubs/ft/fandd/2007/09/ravalli.htm">http://www.imf.org/external/pubs/ft/fandd/2007/09/ravalli.htm</a></p>
<p lang="en-US" style="text-align: justify;">Seitzinger S.P. <em>et al</em>, 2012, &ldquo;Planetary stewardship in an urbanizing world: beyond city limits&rdquo;. <em>AMBIO</em>, DOI 10.1007/s13280-012-0353-7.</p>
<p lang="en-US" style="text-align: justify;">Seto K.C. <em>et al</em>, 2011, &ldquo;A Meta-Analysis of Global Urban Land Expansion&rdquo;. <em>PloS One 6</em>, e23777. Doi:10.1371/journal.pone.0023777.</p>