<% provide(:title, "Mes synthèses") %>
<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      Mes synthèses
    </div>
    <table id="notification-summaries" class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="col-xs-1 center"> Crédits </th>
        <th class="col-xs-5"> Synthèse </th>
        <th class="col-xs-5"> De la controverse </th>
        <th class="col-xs-1 center"> Supprimer </th>
      </tr>
      </thead>

      <tbody class="page">
      <% if !@summaries.any? %>
          <tr class="notification-summary">
            <td> </td>
            <td> Pas encore de de résumés ajoutés </td>
            <td> </td>
            <td> </td>
          </tr>
      <% else %>
          <% @summaries.each do |com| %>
              <tr class="notification-summary">
                <td class="center"> <%= com.balance %> </td>
                <td> <%= link_to com.content[0..70]+"...", summary_path(com.id ) %>   </td>
                <td> <%= link_to com.timeline_name, timeline_path(com.timeline_id ) %>   </td>
                <td class="center"> <%= link_to "<span class=\"glyphicon glyphicon-trash\"> </span>".html_safe,
                                                summary_path( com.id ), method: :delete,
                                                data: { confirm: " Vous êtes certains ?" } %>  </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>