<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <strong>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <%= t('views.issue.thank') %>
  </strong>
  <a href="https://github.com/ThibaultLatrille/ControverSciences/issues" class="alert-link"><%= t('views.issue.taken_into_account') %></a>
</div>