<tr class="user">
  <td> <%= link_to user.name, user %>
  </td>
  <td>
    <% if current_user && current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete,
                    data: {confirm: "Etes vous certain ?"} %>
    <% end %>
  </td>
</tr>