<tr class="user">
  <td><%= user.email %>   </td>
  <td><%= link_to user.name, user %>  </td>
  <td> 69 </td>
  <% if current_user.admin? && !current_user?(user) %>
      <td> <%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" } %> </td>
  <% end %>
</tr>

