<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 comment">
  <a href="<%= user_path(user.id) %>" style="color: white">
    <div class="thumbnail timeline-body hvr-grow">
      <% if user.user_detail && user.user_detail.id && user.user_detail.picture? %>
          <%= image_tag user.user_detail.picture_url, class: "img-rounded", height: "80px" %>
      <% else %>
          <%= image_tag "favicon.svg", class: "img-rounded", height: "80px" %>
      <% end %>
      <div class="caption">
        <h4 style="word-wrap: break-all"><%= user.name %></h4>
      </div>
    </div>
  </a>
</div>