<% provide(:title, 'Les contributeurs') %>
<div id="my-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="timelines">
        <div class="row page">
          <%= render @users %>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.timeline-body').responsiveEqualHeightGrid();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
