<% provide(:title, @user.name) %>
<div id="my-container" class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-md-3">
  </div>
  <div class="col-xs-12 col-md-6">
    <%= render 'users/partial_user' %>
    <div class="center">
      <%= link_to "<span class=\"glyphicon glyphicon-menu-left\"></span> Contributeur précédent".html_safe,
                  previous_user_path(id: @user.id), class: "btn btn-primary" %>
      <%= link_to "Contributeur suivant <span class=\"glyphicon glyphicon-menu-right\"></span>".html_safe,
                  next_user_path(id: @user.id), class: "btn btn-primary" %>
    </div>
    <div class="center">
      <br/>
      <%= link_to "<span class=\"icon-users\"></span> Tous les contributeurs".html_safe,
                  users_path, class: "btn btn-primary" %>
    </div>
    <br/>
    <br/>
  </div>
</div>
</div>