<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        Vous avez reussi à générer <%= object.errors.count %> <%= object.errors.count == 1 ? "erreur" : "erreurs" %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>