<div class="modal fade" id="newpatch" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>
      </div>
      <div class="modal-body clearfix">
        <div class="panel panel-info">
          <div class="panel-heading">
            <% if patch.target_user_id == current_user.id %>
                <b>
                  Modifier votre contribution
                </b>
            <% else %>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <%= link_to "<span class=\"fat icon-bug-#{rand(18)}\"></span> Correction".html_safe,
                                new_patch_path(frame_id: patch.frame_id,
                                               comment_id: patch.comment_id,
                                               summary_id: patch.summary_id,
                                               field: patch.field),
                                style: "padding: 8px; margin: 0px 8px;" %>
                    <br>
                    // gerer le cas ou le user a déjà des patches
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <%= link_to "<span class=\"fat icon-fork\"></span> Correction".html_safe,
                                new_frame_path(timeline_id: patch.frame.timeline_id),
                                style: "padding: 8px; margin: 0px 8px;" %>
                    <br>
                    // gerer le cas ou le user à déjà une patches
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
