<% provide(:title, "Modification") %>
<div id="my-container" class="container-fluid">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading">
  <h3>Modifier la controverse : <%= @timeline.name.html_safe %></h3>
</div>
<div class="panel-body">
<%= form_for(@timeline) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.button "Modifier la controverse &nbsp <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span>".html_safe,
                 class: 'btn btn-success btn-lg pull-right',
                 data:  {disable_with: "<span class=\"glyphicon glyphicon-save\" aria-hidden=\"true\"></span> &nbsp Modification en cours "} %>
<% end %>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.my-btn').responsiveEqualHeightGrid();
        if (!$('#check-box').is(':checked')) {
            $('#binary-box').hide()
        }
        $('#check-box').click(function () {
            if ($(this).is(':checked')) {
                $('#binary-box').show(500)
            } else {
                $('#binary-box').hide(500)
            }
        });
    })
</script>
