@font-face {
  font-family: 'Ubuntu', sans-serif;
}

$gray-medium-light: #eaeaea;
$nav_back: #4E7DC9;
$nav_back_bottom: #e9f0f5;
$nav_hover: #405899;
$red-error:#d9534f;
$background:#f1f4f9;

/* universal */

.textarea {
  resize: vertical;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

html {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  padding-top: 65px;
  font-family: 'Ubuntu';
  background-color: $background;
  color: #07212B;
}

#my-container{
  min-height: 100%;
  padding-top: 10px;
  margin-bottom: -52px;
}

#my-container:after {
  content: "";
  display: block;
}

footer, #my-container:after {
  height: 52px;
}

footer {
  text-align: center;
  background: #232D33;
  color: #ffffff;
}

footer img{
 padding-top: 5px;
 padding-left: 10px;
}

footer a {
  padding: 12px 0 12px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 767px) {
  footer a {
    font-size: 12px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.container-vertical{
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.navbar {
    background-color: $nav_back;
    border-color: $nav_hover;
}

.btn-default, .btn-default:focus, .btn-default.focus {
    background-color: white;
    border-color: gray-light;
    color: #07212B;
    outline: 0px;
}

.btn {
  white-space: normal;
}

.btn-default:hover, .btn-default.hover, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: $nav_hover;
  color: white;
}

.stick{
  margin: 1px -1px 1px -1px;
}

.sticky{
  display: inline-block;
  margin: 3px;
  text-align: center;
  cursor: default;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $nav_hover;
  color: white;
}

.nav{
  li{
    li > a {
      color: #07212B;
    }
    a{color: white;
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 64px;
      &:focus {
        background-color: $nav_back;
      }
      &:hover {
      background-color: $nav_hover;
      color: white;
      text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 35px;}
}

@media (max-width: 1439px) {
  .hide-small {
    display: none;}
}

.dropdown-menu > li > a {
  line-height: 30px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
  text-align: center;
}

.justify {
  text-align: justify;
}

/* typography */
.bold{
  font-weight: bold;
}

h1, h2, h3, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px lightgray;
}

.fatter{
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -2px;
  margin-bottom: -5px;
  text-align: center;
}
h3 {
  font-size: 2em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
}
h4 {
  font-size: 1.3em;
  line-height: 1.3;
}

h5 {
  font-size: 1.8em;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 0.8;
}

h6 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}
.construct {
  color: darkseagreen;
  font-size: 0.8em;
  margin-bottom: -10px;
  margin-top: 5px;
}

.red {
  color: $red-error;
  border-color: $red-error;
}

.red:hover {
  background-color: $red-error;
}

.green {
  color: #5cb85c;
  border-color: #5cb85c;
}

.green:hover {
  background-color: #5cb85c;
}

.blue {
  color: #337ab7;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red-error;
  ul {
    color: $red-error;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    border-color: $red-error;
    box-shadow: 0px 0px 5px $red-error;
  }
}

.alert{
  margin-top: 20px;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
section{
  padding-bottom: 20px;
  padding-top: 40px;
  width: 100%;
}

section h1{
  font-size: 2em;
  padding-bottom: 1em;
}

#welcome{
  background-color: #ffffff;
}

#mission{
  background-color: #3686BE;
  color: #ffffff;

}

#development{
  background-color: #ffffff;
}

#featured{
  background-color: #ffffff;
}

#mycarousel{
  font-size: 1.4em;
}

.timeline-name{
  padding-bottom: 10px;
}

.timeline-name > a {
  color: #3686BE;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px #EAEAFF;
}

.timeline-name > a:hover {
  color: #24597E;
}

#timelines{
  padding-top: 20px;
}

.timeline{
  .panel-primary{
    border-color: #3686BE;
    -moz-box-shadow: 0px 2px 4px 0px #85A8BE;
    -webkit-box-shadow: 0px 2px 4px 0px #85A8BE;
    -o-box-shadow: 0px 2px 4px 0px #85A8BE;
    box-shadow: 0px 2px 4px 0px #85A8BE;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#85A8BE, Direction=180, Strength=5);
  }
  .stats{
    padding-bottom: 10px;
  }
}

.new-reference {
  color: #07212B;
  padding-left: 20px;
}

.panel-default{
  .timeline-body{
    background-color: $background;
    .btn-default{
      background-color: $background;
    }
    .btn-default:hover, .btn-default:focus, .btn-default:active,{
      background-color: $nav_hover;
    }
    .list-group-item{
      background-color: $background;
    }
  }
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 2px solid #e8e8e8;
  }
  .comment {
    margin-left: 0px;
    li {
      padding: 0px;
      border-top: 0px;
    }
  }
  .timestamp {
    color: gray-light;
    display: block;
    margin-left: 20px;
  }
}

.dropdown-menu{
  .selected{
    a {
      background-color: #6682b5;
    }
  }
}

.selectwidthauto
{
  width:auto !important;
}
.panel-body{
  p{
    text-align: justify;
  }
}

.switcher {
  text-align: center;
}
.switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 50em;
  border: 1px solid #225b78;
  background-color: $background;
}
.switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-top: 3px;
  padding-left: 17px;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 1.3em;
  color: #0B0F19;
}
.switcher .switch {
  /* floating background */
  position: absolute;
  top: 4px;
  left: 4px;
  padding-left: 2px;
  height: 40px;
  width: 90px;
  background-color: #7795E5;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.switcher input[type="radio"]:checked + label + .switch,
.switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(86px);
  -moz-transform: translateX(86px);
  -ms-transform: translateX(86px);
  -o-transform: translateX(86px);
  transform: translateX(86px);
}


.thumbnail {
  img {
    width: 100%;
    max-width: 400px;
  }
  margin-left: 15px;
}
.thumbnail .caption{
  text-align: justify;
  max-width: 400px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

body.modal-open {
  height: auto;
}

.cursor-default{
  cursor: default;
}

.cursor-not-allowed, .cursor-not-allowed:hover, .cursor-not-allowed:active{
  color: #0B0F19;
  background-color: lightgray;
  border-color: lightgray;
  cursor: not-allowed;
}

#following-new-timelines{
  a{
    color: #07212B;
  }
  a:hover{
    text-decoration: none;
  }
}

#progress .bar {
  height: 18px;
  background: green;
  width: 100%;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

.search-box{
  line-height: 29px;
  font-size: 16px;
  input{
    border-radius: 0px 8px 8px 0px;
    border: 2px solid #dddee1;
    background-color: #FDFDFD;
    padding-left: 10px;
  }
  input:focus{
    outline: 0;
  }
  input:focus::-webkit-input-placeholder {
    color: #FDFDFD;
  }
  input:focus:-moz-placeholder{
    color: #FDFDFD;
  }
  input:focus::-moz-placeholder{
    color: #FDFDFD;
  }
  input:focus:-ms-input-placeholder{
    color: #FDFDFD;
  }
}

.badge-header{
  color: #4E7DC9;
  background-color: #FDFDFD;
}

.badge-li{
  background-color: $red-error;
}

ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

del {
  background-color: #ffc6c6;
}
.break-word {
  word-wrap: break-word;
}
.tooltip-inner {
  line-height: 1.2em;
  font-size: 1.2em;
}
