@font-face {
  font-family: 'Ubuntu', sans-serif;
}

$gray-medium-light: #eaeaea;
$nav_back: #4E7DC9;
$nav_back_bottom: #e9f0f5;
$nav_hover: #405899;
$red-error: #d9534f;
$background: #f1f4f9;

/* universal */

.textarea {
  resize: vertical;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

html {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  padding-top: 65px;
  font-family: 'Ubuntu';
  background-color: $background;
  color: #07212B;
}

#my-container {
  min-height: 100%;
  padding-top: 10px;
  margin-bottom: -52px;
}

#my-container:after {
  content: "";
  display: block;
}

footer, #my-container:after {
  height: 52px;
}

footer {
  background: #232D33;
  color: #ffffff;
}

footer #about-link a {
  margin-left: 20px;
  text-align: left;
  font-size: 24px;
  line-height: 52px
}

footer #about-link a {
  color: #ffffff;
  text-decoration: none;
}

footer #about-link #contact {
  margin-left: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 46px
}

footer #about-link a:hover {
  color: #f1f1f1;
}

@media (max-width: 480px) {
  footer #social-footer {
    display: none;
  }
  footer #about-link a {
    font-size: 18px;
  }
  header #logo-header {
    display: none;
  }
}

.badge-li {
  color: #FDFDFD;
  background-color: #4E7DC9;
}

header {
  .dropdown {
    li a {
      font-weight: bold !important;
    }
  }
  .my-missing {
    background-color: #4E7DC9;
    a {
      color: white !important;
    }
    .badge-li {
      color: #4E7DC9;
      background-color: #FDFDFD;
    }
  }
  .my-important {
    background-color: $red-error;
    a {
      color: white !important;
    }
    .badge-li {
      color: $red-error;
      background-color: #FDFDFD;
    }
  }
}

.twitter-follow-button {
  vertical-align: top !important;
  margin-top: 17px;
}

.cs-fb-like {
  float: right;
  margin-top: 17px;
  margin-right: 20px;
}

.img-responsive {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.container-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.navbar {
  background-color: $nav_back;
  border-color: $nav_hover;
}

.btn-default, .btn-default:focus, .btn-default.focus {
  background-color: white;
  border-color: lightgray;
  color: #07212B;
  outline: 0px;
}

.btn {
  white-space: normal;
}

.btn-default:hover, .btn-default.hover, .open > .btn-default.dropdown-toggle {
  background-color: $nav_hover;
  color: white;
}

.btn-default:active, .btn-default.active {
  background-color: #337ab7;
  color: white;
}

.stick {
  margin: 1px -1px 1px -1px;
}

.sticky {
  display: inline-block;
  margin: 3px;
  text-align: center;
  cursor: default;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $nav_hover;
  color: white;
}

.nav {
  li {
    li > a {
      color: #07212B;
    }
    a {
      color: white;
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 64px;
      &:focus {
        background-color: $nav_back;
      }
      &:hover {
        background-color: $nav_hover;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 35px;
  }
}

@media (max-width: 1439px) {
  .hide-small {
    display: none;
  }
}

.dropdown-menu > li > a {
  line-height: 30px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.center {
  h1 {
    margin-bottom: 10px;
  }
  text-align: center;
}

.text-left {
  text-align: left;
}

.justify {
  text-align: justify;
}

/* typography */
.bold {
  font-weight: bold;
}

h1, h2, h3, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px lightgray;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  line-height: 1.2em;
  margin-bottom: -5px;
  text-align: center;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
}

h4 {
  font-size: 1.3em;
  line-height: 1.3;
}

h5 {
  font-size: 1.8em;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 0.8;
}

h6 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}

.shadowed {
  letter-spacing: 0px;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8),
  -2px 2px 1px rgba(255, 255, 255, 0.8),
  -2px -2px 1px rgba(255, 255, 255, 0.8),
  2px -2px 1px rgba(255, 255, 255, 0.8);
}

.cadre {
  margin-top: 10px;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 0.9em;
  border: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.8);
}

.search-div {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
  .timeline {
    h3 {
      font-size: 1.2em !important;
    }
  }
}

@media (max-width: 1700px) {
  .timeline {
    .cadre {
      display: none;
    }
  }
}

.cadre:hover {
  text-decoration: none;
}

.transparent {
  display: flex;
  padding: 6px 6px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.transparent h3 {
  margin: 10px;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.fatter {
  font-size: 3em;
}

.construct {
  color: darkseagreen;
  font-size: 0.8em;
  margin-bottom: -10px;
  margin-top: 5px;
}

.red, .static-red {
  color: $red-error;
  border-color: $red-error;
}

.red:hover {
  background-color: $red-error;
}

.green, .static-green {
  color: #5cb85c;
  border-color: #5cb85c;
}

.green:hover {
  background-color: #5cb85c;
}

.blue {
  color: #337ab7;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red-error;
  ul {
    color: $red-error;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    border-color: $red-error;
    box-shadow: 0px 0px 5px $red-error;
  }
}

.alert {
  margin-top: 20px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first {
    padding: 0;
    float: none;
    border: none;
  }
  .prev {
    padding: 0;
    float: none;
    border: none;
  }
  .page {
    padding: 0;
    float: none;
    border: none;
  }
  .next {
    padding: 0;
    float: none;
    border: none;
  }
  .last {
    padding: 0;
    float: none;
    border: none;
  }
}

section {
  padding-bottom: 20px;
  padding-top: 40px;
  width: 100%;
}

section h1 {
  font-size: 2em;
  padding-bottom: 1em;
}

#mycarousel {
  font-size: 1.4em;
}

.timeline-name {
  padding-bottom: 10px;
}

.timeline-name > a {
  color: #3686BE;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px #EAEAFF;
}

.timeline-name > a:hover {
  color: #24597E;
}

#timelines {
  padding-top: 20px;
}

.timeline {
  .panel-primary {
    border-color: #3686BE;
    -moz-box-shadow: 0px 2px 4px 0px #85A8BE;
    -webkit-box-shadow: 0px 2px 4px 0px #85A8BE;
    -o-box-shadow: 0px 2px 4px 0px #85A8BE;
    box-shadow: 0px 2px 4px 0px #85A8BE;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#85A8BE, Direction=180, Strength=5);
  }
  .stats {
    padding-bottom: 10px;
  }
}

.new-reference {
  color: #07212B;
  padding-left: 20px;
}

.panel-default {
  .timeline-body {
    background-color: $background;
    .btn-default {
      background-color: $background;
    }
    .btn-default:hover, .btn-default:focus, .btn-default:active, {
      background-color: $nav_hover;
    }
    .list-group-item {
      background-color: $background;
    }
  }
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 2px solid #e8e8e8;
  }
  .comment {
    margin-left: 0px;
    li {
      padding: 0px;
      border-top: 0px;
    }
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 20px;
  }
}

.dropdown-menu {
  .selected {
    a {
      background-color: #6682b5;
    }
  }
  li {
    a {
      &:focus {
        background-color: $nav_back;
      }
      &:hover {
        background-color: $nav_hover;
        color: white;
      }
    }
  }
}

.selectwidthauto {
  width: auto !important;
}

.panel-body {
  p {
    text-align: justify;
  }
}

.switcher {
  text-align: center;
}

.switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 50em;
  border: 1px solid #225b78;
  background-color: $background;
}

.switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-top: 3px;
  padding-left: 17px;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 0.9em;
  color: #0B0F19;
}

.switcher .switch {
  /* floating background */
  position: absolute;
  top: 4px;
  left: 4px;
  padding-left: 2px;
  height: 40px;
  width: 90px;
  background-color: #7795E5;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.switcher input[type="radio"]:checked + label + .switch,
.switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(86px);
  -moz-transform: translateX(86px);
  -ms-transform: translateX(86px);
  -o-transform: translateX(86px);
  transform: translateX(86px);
}

.thumbnail {
  a {
    position: relative;
    width: 100%;
    display: block;
    max-width: 400px;
    div {
      color: #07212B;
      font-size: 4em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      transition: opacity 1s ease;
    }
    img {
      opacity: 1;
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      transition: opacity 1s ease;
    }
  }
  a:hover {
    div {
      opacity: 1;
    }
    img {
      opacity: .5;
    }
  }
  margin-left: 15px;
}

.thumbnail .caption {
  text-align: justify;
  max-width: 400px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

body.modal-open {
  height: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed, .cursor-not-allowed:hover, .cursor-not-allowed:active {
  color: #0B0F19;
  background-color: lightgray;
  border-color: lightgray;
  cursor: not-allowed;
}

#following-new-timelines {
  a {
    color: #07212B;
  }
}

a:hover, a:active, a.active, a.focus, a:focus {
  text-decoration: none;
}

#progress .bar {
  height: 18px;
  background: green;
  width: 100%;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen \9
{
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

.search-box {
  line-height: 29px;
  font-size: 16px;
  input {
    border-radius: 0px 8px 8px 0px;
    border: 2px solid #dddee1;
    background-color: #FDFDFD;
    padding-left: 10px;
  }
  input:focus {
    outline: 0;
  }
  input:focus::-webkit-input-placeholder {
    color: #FDFDFD;
  }
  input:focus:-moz-placeholder {
    color: #FDFDFD;
  }
  input:focus::-moz-placeholder {
    color: #FDFDFD;
  }
  input:focus:-ms-input-placeholder {
    color: #FDFDFD;
  }
}

ins {
  background-color: #c6ffc6;
  text-decoration: none;
}

del {
  background-color: #ffc6c6;
}

.break-word {
  word-wrap: break-word;
}

.tooltip-inner {
  line-height: 1.2em;
  font-size: 1.2em;
}

.hover-red {
  text-align: left;
}

.hover-red:hover {
  background-color: #ebcccc;
}

.img-collectif {
  width: 86px !important;
  margin-right: 15px;
}

.link-group {
  margin: 0 5px 3px;
  padding: 0;
  border: 2px solid #dddee1;
  .link-group-counter {
    font-size: 16px;
    border-radius: 3px 0 0 3px;
    padding: 8px 12px 12px;
    color: #FDFDFD;
    background-color: #337ab7;
  }
  .link-group-main {
    font-size: 16px;
    display: inline-block;
    padding: 6px 12px;
  }
  .link-icon {
    font-size: 26px;
    margin: 0;
  }
  .link-group-main-all {
    display: inline-block;
    padding: 8px 12px 10px;
  }
}

.link-group.active, .link-group:active {
  margin: 0 15px 3px;
  border: 2px solid #337ab7;
  .link-group-counter {
    color: #337ab7;
    background-color: #FDFDFD;
  }
}

.link-group.hover, .link-group:hover {
  border: 2px solid $nav_hover;
}

.timeline-edge-check {
  margin: 0;
  border-radius: 0;
  .checked {
    display: none;
  }
}

.timeline-edge-check.active {
  .checked {
    display: block;
    color: #fff;
  }
}

.timeline-edge-check + .timeline-edge-check {
  margin-top: -1px !important;
}

.box {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  .container-jets {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-jets input {
    width: 250px;
    border: none;
    border-bottom: 4px solid #26a69a;
    font-size: 1.5em;
    float: left;
    color: #65737e;
    padding: 5px 0 5px 40px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-jets input::-webkit-input-placeholder {
    color: #65737e;
  }
  .container-jets input:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
  }
  .container-jets input::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
  }
  .container-jets input:-ms-input-placeholder {
    color: #65737e;
  }
  .container-jets .icon {
    position: absolute;
    top: 50%;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 1.6em;
    z-index: 1;
    color: #4f5b66;
  }
  .container-jets input:hover, .container-jets input:focus, .container-jets input:active {
    outline: none;
    background: #ffffff;
  }
  .container-jets input:focus::-webkit-input-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus::-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-ms-input-placeholder {
    color: #FDFDFD;
  }
}

#tips-large {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

#tips-small {
  z-index: 9999;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
}

#biofunds-search-box {
  margin-bottom: 10px;
  div {
    border: 1px solid lightgray;
    border-radius: 6px 0 0 6px;
    width: 100%;
    .icon {
      color: #fff;
      font-size: 28px;
      position: absolute;
      left: 5px;
      padding-left: 16px;
      padding-top: 8px;
      pointer-events: none;
    }
    input#biofunds-search {
      width: 18%;
      min-height: 46px;
      background-color: #26a69a;
      border-radius: 5px 0 0 5px;
      border: none;
    }
    input#biofunds-text {
      width: 82%;
      border: none;
      border-bottom: 4px solid #26a69a;
      font-size: 25px;
      color: #65737e;
      margin: 0 0 0 -4px;
      padding: 1px 0 5px 10px;
    }
    input#biofunds-text::-webkit-input-placeholder {
      color: lightgray;
    }
    input#biofunds-text:-moz-placeholder {
      /* Firefox 18- */
      color: lightgray;
    }
    input#biofunds-text::-moz-placeholder {
      /* Firefox 19+ */
      color: lightgray;
    }
    input#biofunds-text:-ms-input-placeholder {
      color: lightgray;
    }
    input#biofunds-text:hover, input#biofunds-text:focus, input#biofunds-text:active {
      outline: none;
      background: #ffffff;
    }
    input#biofunds-text:focus::-webkit-input-placeholder {
      color: #FDFDFD;
    }
    input#biofunds-text:focus:-moz-placeholder {
      color: #FDFDFD;
    }
    input#biofunds-text:focus::-moz-placeholder {
      color: #FDFDFD;
    }
    input#biofunds-text:focus:-ms-input-placeholder {
      color: #FDFDFD;
    }
  }
}

#why-biofunds {
  cursor: default;
}

.graph-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.graph-caption {
  font-size: 1.4em;
  margin-left: 10px;
}

#magna-charta {
  h2 {
    font-weight: bold;
    font-size: 2.8em;
  }
  ol {
    margin-top: 1em;
    font-size: 1.1em;
  }
  #not-timeline {
    h3 {
      color: #800000;
      font-size: 2em;
      padding-top: 0.5em;
    }
    h4 {
      padding: 0.5em 2em;
      text-align: center;
      font-size: 1.2em;
    }
    li {
      font-size: 1.1em;
    }
  }
}

#myCarousel {
  .go-right {
    cursor: pointer;
  }
  .go-left {
    cursor: pointer;
  }
  #items {
    position: relative;
    margin: 0 auto 10px;
    #is-transparent {
      z-index: -1;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    #eclosion {
      margin-top: 3em;
      text-align: center;
      line-height: 1.2em;
      font-size: 1.4em;
      .icon {
        font-size: 2em;
      }
      .arrow {
        padding-top: 3em;
        font-size: 1em;
      }
    }
  }
  #items .item {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  #items .item.opaque {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
  .caption {
    font-size: 1.5em;
    text-align: center;
  }
  .nav li {
    background-color: #337ab7;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    display: block;
    float: none;
    position: relative;
    width: 100%;
    a {
      border-radius: 0;
      font-size: 1em;
      line-height: 1.5;
      padding: 1em 0.1em;
      background-color: #337ab7;
      display: block;
      float: right;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }
  }
  .nav-pills > li + li {
    margin-left: 0px;
  }
  .nav li:hover, .nav li.active {
    background-color: $nav_hover;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid $nav_hover;
    border-top: 1px solid $nav_hover;
    a {
      background-color: $nav_hover;
      color: #fff;
    }
  }
  .nav li:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    a {
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }
  }
}

#favorite {
  #favorite-timeline {
    h4 {
      font-size: 1.6em;
    }
    padding: 1em 2em;
    background-image: none;
    border: 2px solid #0f75bc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #favorite-timeline:hover {
    text-decoration: none;
  }
}

.framed {
  padding: 0.5em 1em;
  background-image: none;
  border: 1px solid #0f75bc;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.5);
}

.framed-white {
  background-color: rgba(255, 255, 255, 1);
}

.inline-framed {
  display: inline-block;
}

.heading {
  width: 100%;
  min-width: 100%;
  position: absolute;
  top: 80px;
  z-index: -1;
}

.leading {
  height: 100%;
  min-height: 100%;
}

.not-activated {
  display: none;
}

.list-links {
  list-style-type: none;
  padding-left: 0;
  li span {
    text-align: right;
    float: left;
    width: 40px;
    padding-right: 5px;
  }
}

.md-input, .md-preview {
  font-size: 1em;
  padding: 5px 10px !important;
}