@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?-1sguz2');
	src:url('/assets/icomoon.eot?#iefix-1sguz2') format('embedded-opentype'),
		url('/assets/icomoon.woff?-1sguz2') format('woff'),
		url('/assets/icomoon.ttf?-1sguz2') format('truetype'),
		url('/assets/icomoon.svg?-1sguz2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
    font-size: 1.8em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font12{
    font-size: 1.2em;
}

.font16{
    font-size: 1.6em;
}

.bigger{
    font-size: 1.4em;
}

.fat{
    font-size: 1.8em;
}

.big{
    font-size: 2.5em;
}

.normal{
    font-size: 1em;
}

.font-icon{
    font-weight: bold;
    font-size: 1.4em;
    line-height: 180%;
}


.icon-ethics:before {
	content: "\e600";
}

.icon-epistemology:before {
	content: "\e601";
}

.icon-energy:before {
	content: "\e602";
}

.icon-summary:before,
.icon-frame:before,
.icon-comment:before {
	content: "\e603";
}

.icon-chromosome:before {
	content: "\e604";
}

.icon-children:before {
	content: "\e605";
}

.icon-chemistry:before {
	content: "\e606";
}

.icon-biology:before {
	content: "\e607";
}

.icon-archeology:before {
	content: "\e608";
}

.icon-animal:before {
	content: "\e609";
}

.icon-5:before {
	content: "\e60a";
}

.icon-4:before {
	content: "\e60b";
}

.icon-3:before {
	content: "\e60c";
}

.icon-2:before {
	content: "\e60d";
}

.icon-1:before {
	content: "\e60e";
}

.icon-users:before {
	content: "\e60f";
}

.icon-techno:before {
	content: "\e610";
}

.icon-space:before {
	content: "\e611";
}

.icon-socio:before {
	content: "\e612";
}

.icon-social:before {
	content: "\e613";
}

.icon-frame_selection:before,
.icon-summary_selection:before,
.icon-selection:before {
	content: "\e614";
}

.icon-search:before {
	content: "\e615";
}

.icon-ribbon:before {
	content: "\e617";
}

.icon-reference:before {
	content: "\e618";
}

.icon-psycho:before {
	content: "\e619";
}

.icon-plus:before {
	content: "\e61a";
}

.icon-plant:before {
	content: "\e61b";
}

.icon-planet:before {
	content: "\e61c";
}

.icon-pie:before {
	content: "\e61d";
}

.icon-physics:before {
	content: "\e61e";
}

.icon-pharmacy:before {
	content: "\e61f";
}

.icon-parent:before {
	content: "\e620";
}

.icon-no-parent:before {
	content: "\e621";
}

.icon-neuro:before {
	content: "\e622";
}

.icon-minus:before {
	content: "\e623";
}

.icon-medicine:before {
	content: "\e624";
}

.icon-locked:before {
	content: "\e625";
}

.icon-lock:before {
	content: "\e626";
}

.icon-linguistic:before {
	content: "\e627";
}

.icon-like:before {
	content: "\e628";
}

.icon-laurel-2:before {
	content: "\e629";
}

.icon-laurel:before {
	content: "\e62a";
}

.icon-informatics:before {
	content: "\e62b";
}

.icon-immunity:before {
	content: "\e62c";
}

.icon-history:before {
	content: "\e641";
}

.icon-geology:before {
	content: "\e62e";
}

.icon-geography:before {
    content: "\e63d";
}

.icon-gear:before {
	content: "\e62f";
}

.icon-timeline:before,
.icon-frog:before {
	content: "\e630";
}

.icon-fork:before {
	content: "\e631";
}

.icon-suggestions:before,
.icon-discuss:before {
    content: "\e63a";
}
.icon-idea:before {
    content: "\e63b";
}

.icon-no:before {
    content: "\e602";
}

.icon-user:before {
    content: "\e604";
}
.icon-bug-0:before {
    content: "\e61b";
}
.icon-bug-1:before {
    content: "\e637";
}
.icon-bug-2:before {
    content: "\e609";
}
.icon-bug-3:before {
    content: "\e611";
}
.icon-bug-4:before {
    content: "\e638";
}
.icon-bug-5:before {
    content: "\e613";
}
.icon-bug-6:before {
    content: "\e616";
}
.icon-bug-7:before {
    content: "\e605";
}
.icon-bug-8:before {
    content: "\e620";
}
.icon-bug-9:before {
    content: "\e621";
}
.icon-bug-10:before {
    content: "\e639";
}
.icon-bug-11:before {
    content: "\e62c";
}
.icon-bug-12:before {
    content: "\e62f";
}
.icon-bug-13:before {
    content: "\e632";
}
.icon-bug-14:before {
    content: "\e633";
}
.icon-bug-15:before {
    content: "\e634";
}
.icon-bug-16:before {
    content: "\e635";
}
.icon-bug-17:before {
    content: "\e636";
}

.icon-arrow-left:before {
    content: "\e63c";
}

.icon-network:before {
    content: "\e640";
}
