.detail:hover, .cursor-hvr:hover{
    cursor:pointer;
}

#cd-timeline {
    overflow-x:hidden;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 4px;
    padding-left: 5px;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
    *zoom: 1;
}

.cd-timeline-block:before,
.cd-timeline-block:after {
    content: " ";
    display: table;
}

.cd-timeline-block:after { clear: both; }

.cd-timeline-block:first-child { margin-top: 0; }

.cd-timeline-block:last-child {
    background: #f1f4f9;
    margin-bottom: 0;
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img .frog {
    position: absolute;
    top: 8px;
    left: 8px;
}

.btn-frog1, .div-frog1 { color: #702BD9; }

.btn-frog2, .div-frog2 { color: #322DE3; }

.btn-frog3, .div-frog3 { color: #3366CC; }

.btn-frog4, .div-frog4 { color: #2DABE3; }

.btn-frog5, .div-frog5 { color: #2BD9CF; }

.btn-frog0, .div-frog0 { color: #3366CC; }

.btn-select{
    background-color: #ffffff;
}

.binary1 .cd-color, .btn-frog1:hover, .btn-filter1.active, .btn-frog1.active { background: #702BD9; color: #f1f4f9;}
.binary2 .cd-color, .btn-frog2:hover, .btn-filter2.active, .btn-frog2.active { background: #322DE3; color: #f1f4f9;}
.binary3 .cd-color, .btn-frog3:hover, .btn-filter3.active, .btn-frog3.active { background: #3366CC; color: #f1f4f9;}
.binary4 .cd-color, .btn-frog4:hover, .btn-filter4.active, .btn-frog4.active { background: #2DABE3; color: #f1f4f9;}
.binary5 .cd-color, .btn-frog5:hover, .btn-filter5.active, .btn-frog5.active { background: #2BD9CF; color: #f1f4f9;}
.binary .cd-color, .binary0 .cd-color, .btn-frog0:hover, .btn-frog0.active { background: #3366CC; color: #f1f4f9;}

.gradient-orange, .cd-color-orange.active { background: #E77E5A; color: #f1f4f9;}

.orange{
    color: #E77E5A;
}

.grey, .grey:hover {background-color: #BBC6DB; color: #f6f9fb}

.cd-frog{
    color: inherit
}

.binary0 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #3366CC 25px);
}

.binary1 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #702BD9 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #702BD9 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #702BD9 25px);
}

.binary2 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #322DE3 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #322DE3 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #322DE3 25px);
}

.binary3 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #3366CC 25px);
}

.binary4 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #2DABE3 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #2DABE3 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #2DABE3 25px);
}

.binary5 .gradient-orange{
    background-color: #eee;
    background-image: -webkit-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(right, #E77E5A 45%, #3366CC 25px); /* FF3.6+ */
    background-image:         linear-gradient(right, #E77E5A 45%, #3366CC 25px);
}

.selected { background: #3366CC; color: #f1f4f9; }

.cssanimations .cd-timeline-img.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
    *zoom: 1;
}

.cd-timeline-content:before,
.cd-timeline-content:after {
    content: " ";
    display: table;
}

.cd-timeline-content:after { clear: both; }

.cd-timeline-content h2 a {
    color: #303e49;
}

.cd-timeline-content p,
.cd-timeline-content .cd-date {
    font-size: 1em;
}

.cd-timeline-content .cd-date { display: inline-block; }

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}


.cd-timeline-content a p {
    margin: 0;
    line-height: 1;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
.cssanimations .cd-timeline-content.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
}

.cssanimations .cd-timeline-block .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
}

@-webkit-keyframes
cd-bounce-2 {  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
}
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes
cd-bounce-2 {  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
}
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-o-keyframes
cd-bounce-2 {  0% {
    opacity: 0;
    -o-transform: translateX(-100px);
}
    60% {
        opacity: 1;
        -o-transform: translateX(20px);
    }
    100% {
        -o-transform: translateX(0);
    }
}
@keyframes
cd-bounce-2 {  0% {
    opacity: 0;
    transform: translateX(-100px);
}
    60% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}
@-webkit-keyframes
cd-bounce-2-inverse {  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
}
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes
cd-bounce-2-inverse {  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
}
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-o-keyframes
cd-bounce-2-inverse {  0% {
    opacity: 0;
    -o-transform: translateX(100px);
}
    60% {
        opacity: 1;
        -o-transform: translateX(-20px);
    }
    100% {
        -o-transform: translateX(0);
    }
}
@keyframes
cd-bounce-2-inverse {  0% {
    opacity: 0;
    transform: translateX(100px);
}
    60% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (min-width: 768px) {

    .cd-timeline-content h2 {
        margin-top: 5px;
        text-align: left;
        letter-spacing: 0px;
        font-size: 1.6em;
    }

    .cd-timeline-content h2 a {
        text-decoration: none;
    }

    .cd-timeline-content p {
        font-size: 1em;
    }

    .cd-timeline-content .cd-date {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1170px) {

    .cd-timeline-img {
        width: 40px;
        height: 40px;
        margin-left: 0px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cd-timeline-block { margin: 4em 0; }

    .cd-timeline-block:first-child { margin-top: 0; }

    .cd-timeline-block:last-child { margin-bottom: 0; }
}