/**
 * CSS for timeline-jquery.
 */
$gray-medium-light: #eaeaea;
$color_back: #e9f0f5;
$color_date_back: white;
$color_date: #6682b5;
$color_border: #6682b5;
$color_line: #6682b5;
$color_caption: black;


.justify{
  text-align: justify;
}
@import "compass";

body {
    background-color: $color_back
}

// Variables
$font-sans-serif: Georgia, sans-serif;


// Mixins
@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

@mixin clearfix() {
    *zoom: 1;

&:before,
&:after {
     content: " ";
     display: table;
 }

&:after {
     clear: both;
 }
}

// Styles
.vertical-timeline-container {
   @include clearfix();


.vertical-timeline-timeline {
    width: 600px;
    margin: 20px auto 30px auto;

// Will show when images are loaded
display: none;
}

.clearfix {
@include clearfix();
}

.loading {
    text-align: center;
    font-size: 2em;
    margin: 1em;
    color: #565656;
}


/**
 * Posts
 */
.post {
    width: 271px;
    margin: 0 0 10px 0;
    float: left;

&.last {
     margin-bottom: 0;
 }

.inner {
    position: relative;
    padding: 11px;
    border: 3px #adadad solid;
    background-color: #fff;
    min-height: 37px;
    word-wrap: break-word;
    border-color: $color_border;
@include border-radius(10px);
@include box-shadow(1px 3px 1px 1px #ADADAD);
}

.red {
  border-color: #d9534f;
  background-color: #ffffff;
}

.yellow {
  border-color: #f0ad4e;
  background-color: #ffffff;
}

.light-blue {
  border-color: #5bc0de;
  background-color: #ffffff;
}

.blue {
  border-color: #428bca;
  background-color: #ffffff;
}

.default {
  border-color: #dddddd;
  background-color: #ffffff;
}

  &.right {
     float: right;
 }

.timestamp {
    display: none;
}

h3 {
    margin: 0;
    font-family: $font-sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #010101;
    padding-right: 30px;
    line-height: 1.3em;
}

.caption {
    color: $color_caption;
    font-family: $font-sans-serif;
    font-size: 12px;
    margin-top: 4px;
}

.body {
    margin-top: 10px;
}

&.collapsed .body {
     display: none;
 }
&.expanded .body {
     display: block;
 }

.body img {
    max-width: 100%;
}

.text {
    color: #393939;
    font-family: Georgia, sans-serif;
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.5;
}

a.open-close {
    background: transparent image-url("button-up-down-arrow.png") no-repeat;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 4px;
    top: 4px;
}

&.collapsed a.open-close {
     background-position: left bottom;
 }

.title .title-icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    vertical-align: top;
}

&.closed .title {
     display: table;
     min-height: 40px;

h3 {
    display: table-cell;
    vertical-align: middle;
}
}

a.more {
    color: #676767;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 4px 15px;
    margin: 5px auto 0 auto;
    border: 1px #BDBDBD solid;
    display: block;
    line-height: 28px;
@include border-radius(2px);
@include box-shadow(0px 1px 1px 0px #BDBDBD);
}

a.more:hover {
    background-color: #FAFAFA;
}

.date {
    color: black;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 19px;
    display: block;
    width: 54px;
    height: 21px;
    line-height: 20px;
}

&.left .date {
     background: transparent image-url("tab-left.png") no-repeat right;
     right: -54px;
 }

&.right .date {
     background: transparent image-url("tab-right.png") no-repeat left;
     left: -54px;
 }
}


/**
 * Group marker
 */
.group-marker {
    float: left;
    width: 80px;
    margin: 50px 0 15px 0;

.timestamp {
    display: none;
}

&.top {
     margin-top: 0;
 }

.inner {
    width: 76px;
    height: 26px;
    padding: 2px;
    background-color: $color_date_back;
@include border-radius(2px);
}

.inner2 {
    background-color: $color_date;
@include border-radius(4px);
}
}


/**
 * Group
 */
.group {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
}

/**
 * Top buttons
 */
.vertical-timeline-buttons {
    text-align: center;
    margin: 20px 0 10px 0;

div {
@include inline-block();
}

.expand-collapse-buttons {
    margin-right: 20px;
}

a {
@include inline-block();
    width: 126px;
    border: 1px #adadad solid;
@include border-radius(2px);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 12px;
    background-color: #FFF;
    color: #3b3b3b;
    text-transform: uppercase;
}

a.active:hover,
a.active {
    background-color: #f6f6f6;
    color: #a9a9a9;
    cursor: default;
@include box-shadow(none);
}

a:hover {
@include box-shadow(0px 1px 1px 0px #adadad);
}

a span {
    padding-right: 15px;
    background-position: right -20px;
}

a.active span {
    background-position: right 4px;
}

a.expand-all span,
a.sort-newest span {
    background-image: image-url("down-arrows.png");
    background-repeat: no-repeat;
}

a.collapse-all span,
a.sort-oldest span {
    background-image: image-url("up-arrows.png");
    background-repeat: no-repeat;
}


@media (max-width: 675px) {

    .expand-collapse-buttons,
    .sort-buttons {
        margin: 0 0 10px 0;
    }
}
}


/**
 * Layout
 */
.line-container {
    width: 4px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.isotope .line {
    margin: 0 auto;
    background-color: $color_line;
    display: block;
    float: left;
    height: 100%;
    left: 298px;
    width: 4px;
    position: absolute;
}

/**
 * Isotope Filtering
 */
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**
 * Isotope CSS3 transitions
 */
.vertical-timeline-container .isotope,
.vertical-timeline-container .isotope .isotope-item {
@include transition-duration(0.8s);
}

.vertical-timeline-container .isotope {
@include transition-property(height, width);
}

.vertical-timeline-container .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/**
 * disabling Isotope CSS3 transitions
 */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
@include transition-duration(0s);
}
}
